[2021-09-30 10:38] JulianGro opened #2 "GitAhead fork todo"
I thought it would help to have a little todo list for things that eventually need to be done for the gitahead for.

- [x] Fix up the master branch
- [x] Decide on a new name (obviously we could use a boring placeholder)
  On on our Matrix channel, we decided to use the name *Gittyup* for now
- [x] Update README.md to inform people about the situation (why there is a fork)
  WIP see https://github

[2021-09-30 12:31] Murmele commented on #2
Issues in my master branch:
- I broke somehow single line staging synchronized with the Treewidget and the filewidget
- an issue when scrolling through all files sometimes happens that application crashes

Missing features:
- Working with submodules

[2021-10-15 06:53] Murmele opened #5 "Submodules reset not working correctly"
See initial work in commit c207df578c1a3a6d04938045f8bec784a82cb8fb and one below

[2021-10-15 07:00] Murmele opened #6 "Add ignore also to DiffTreeWidget"
At the moment ignoring files is only implemented for the TreeView, but not for the double TreeView

[2021-10-22 06:00] ysalmon opened #8 "``Failed to retrieve list of SSH authentication methods: Failed getting response`` when key not present in ssh agent"
https://github.com/gitahead/gitahead/issues/583 is still happening.

I recently added a new remote to a repository and Gittyup gives the aforementioned error when pulling or pushing to it when the corresponding ssh key has not already been added to the ssh agent. However if the key is loaded in the agent, everything runs fine.

Other repos do not exhibit this behaviour (I had problems with Gittyup

[2021-11-14 16:13] Grafcube opened #17 "Use system Qt theme"
Is it possible to use the Qt theme set by the user (I'm using KDE Plasma)? I haven't done much with Qt but I think Gittyup uses bundled Qt since fcitx5 also doesn't work.

[2021-11-18 16:26] Murmele opened #20 "Cleanup CMakeLists.txt"
- [ ] Check if all dependencies must be installed. Because to create a pkgbuild for arch the dependencies should not be needed.

[2021-11-19 13:11] Murmele commented on #5
Fixed

[2021-11-19 13:11] #5 closed

[2021-11-21 15:36] mmahmoudian commented on #2
I propose the following as well:

- [ ] why you have created a new fork
- [ ] why this name
- [ ] create a website (it's good for branding)
- [ ] create a Matrix/Slack for general purpose chat as you probably need some extra help
- [ ] Adding a screenshot of the application to the README

P.s: I'm one of the guys behind [Flameshot](https://github.com/flameshot-org/flameshot/) and I have done these

[2021-11-21 17:52] Murmele commented on #2
Hi @mmahmoudian,

I created that fork, because I added a lot stuff and it was never merged because of the lack of maintaining of the other project.

There is already a matrix channel: https://matrix.to/#/#Gittyup:matrix.org
There was also decided for that name.

Adding a screenshot is a good idea. At the moment we have only the flatpak build with its preview:https://flathub.org/apps/details/com.gi

[2021-11-22 19:30] 93Sprinter opened #23 "Find commits with one or multiple parents that altered a specific file"
Hi,
I'm not sure if I use the history search of Gittyup correctly but if I try to find all commits, that altered a specific file, the search result only contains commits with one parent. e.g. commits with multiple parents like merge commits are not listed.

Is it possible to find those commits just like if I use "git log --simplify-merges" or "git log --first-parent"?

[2021-11-23 08:03] Murmele commented on #23
It seems that also path does not work correctly or is it for you?

[2021-11-23 18:05] 93Sprinter commented on #23
Yes, I also have the same problem with the path option. Only commits with parent are shown.

[2021-11-23 20:54] KOLANICH opened #33 "It'd be nice to know the difference between the latest version of the original gitahead and this fork"

[2021-11-23 21:12] Murmele commented on #33
Check out [this](https://flathub.org/apps/details/com.github.Murmele.Gittyup)
Version 1.0.0 changes are the changes to the latest version of Gittyup.

[2021-11-23 21:24] KOLANICH commented on #33
Flathub is a bad website. It is completely unworking without JS. I guess the changelog should be here in the first place.

I guess i'd be better to give this link: https://github.com/Murmele/Gittyup/commit/2218aac5c4fa495feb9c4f1e10499d10e9f771b3

[2021-11-23 21:25] #33 closed

[2021-11-23 21:28] KOLANICH opened #34 "Should the telemetry-related code be removed?"

[2021-11-23 21:31] Murmele opened #35 "Fix Mac OSX build"
Error message from pipeline:  error: static_assert failed due to requirement '__is_cpp17_move_insertable<std::__1::allocator<Scintilla::FontAlias>, false>::value' "The specified type does not meet the requirements of Cpp17MoveInsertable"
            static_assert(__is_cpp17_move_insertable<allocator_type>::value,

[2021-11-24 01:17] alerque commented on #34
It should only stay if running telemetry is explicitly opt-in.

[2021-11-24 01:24] KOLANICH commented on #34
I think it should be removed even if telemetry is opt-in.

[2021-11-24 03:22] libookami opened #36 "Global menu is not exported when using the flatpak version"
Currently using Manjaro with plasma 5.23.3, frameworks 5.88, Qt 5.15.2 and the kernel 5.14.18 on X11. I installed the flatpak version of Gittyup but there's no menu on the global menu at all, for some reason is not being exported. I already checked and it works correctly if:
- i install Gittyup form the AUR using gittyup-git.
- On flatpak version of Gittyup if i remove the global menu from the pla

[2021-11-25 12:28] Murmele commented on #36
Do you have a screenshot?

[2021-11-25 13:00] Murmele opened #39 "Nullptr exception when error occurs during submodule update"
In the DiffTreemodel a nullptr is passed as callback. If an error occurs during update of the submodule. It will be tried to call this callback to notify the ui that an error occured.
The application crashes then

commit id: 1d378935ed6ee53adfbc77ce76691de665782180

[2021-11-25 18:58] libookami commented on #36
I captured an small video, i hope it helps.

https://user-images.githubusercontent.com/42700490/143490630-73e9e7bb-1ad7-41fc-8965-31396a5688c7.mp4

[2021-11-26 17:02] Murmele commented on #36
Ah I see. I will check it out. Maybe it is just a difference in the flatpak manifest.

[2021-11-26 23:28] libookami commented on #36
It's possible because both have com.canonical.AppMenu.Registrar correctly as far i saw so i don't know. Meanwhile i'll use the version from the AUR, thanks a lot!

[2021-11-29 06:06] wicast opened #45 "It doesn't show shallow repo's commits"
After clone with --depth n and open with Gittyup, there is no git commit log at all.
The gitk or other tools can show the shallow repo correctly.

[2021-11-29 09:04] ColonelPanic42 opened #46 "Why app specific index?"
Hello,
I still have GitAhead (currently Version 2.6.3) and I am thinking about moving to GittyUp.
Just wanted to make sure, that a major issue that I have with GitAhead is not also one here.

At least in my installation ion MS Windows 10 with WSL, GitAhead uses an extra index which resides in the folder
.git/GitAhead/index.

As I sometimes use cli git for some actions that work better with that an

[2021-11-30 05:06] wicast commented on #45
It seems https://github.com/libgit2/libgit2/issues/3058 is not supporting shallow, but [gitui](https://github.com/extrawurst/gitui), which using libgit2, dose support shallow commit history list.

[2021-11-30 12:52] Murmele commented on #46
Hi Philip, I will check it out. I have to look into why we are using out own index

[2021-11-30 13:57] exactly-one-kas opened #48 "Improve the file list's context menu"
The context menu in the right-side file-list (staging and commit view) should contain all options that exist in the context menu of the diff view's file header

![image](https://user-images.githubusercontent.com/16035731/144059996-df73b49c-dc45-4f32-bddc-a0e8174a69f3.png)

[2021-11-30 15:21] exactly-one-kas opened #50 ""Filter by path" is broken"
Inputting queries yield wildly varying results when they shouldn't

![clipboard](https://user-images.githubusercontent.com/16035731/144074927-b3ba1518-e79d-4b94-9a74-4ece8814cf58.png)
![clipboard](https://user-images.githubusercontent.com/16035731/144075027-c848bb4f-976f-4ca6-a1d9-11980b5069a4.png)
![image](https://user-images.githubusercontent.com/16035731/144071208-549fa713-8382-4ee6-a561-cc4614

[2021-11-30 15:25] Murmele commented on #50
@exactly-one-kas can you add the commit id where it worked and where not?

[2021-11-30 16:23] Murmele commented on #50
index::write gets never called, maybe because the indexer fails for some reason?

[2021-11-30 17:02] Murmele commented on #48
Yes. There is a similar issue. I will close the other

[2021-11-30 17:03] Murmele commented on #6
Dublicate of #48

[2021-11-30 17:03] #6 closed

[2021-12-01 10:59] #50 closed

[2021-12-18 15:33] arcoast opened #64 "[Feature Request] Gitea Support"
Just discovered Gitahead today and disregarded it due to development no longer being carried out and then found gittyup awesome!

Wondered if there's any prospect of supporting [Gitea](https://gitea.io/en-us/)?  Regardless on the feasibility of this, thanks for this fork and for working on it.

[2021-12-21 16:55] Murmele commented on #23
hi @93Sprinter I will have a look on it. Thanks for the hint

[2021-12-21 17:30] Murmele commented on #23
Where did you see that? Can you say me the file and line?

[2021-12-22 09:56] 93Sprinter commented on #23
The switch statement is in file "src/git/RevWalk.cpp". The method starts at line 58, the switch statement starts at line 82.
And I think that this method is called in "src/index/indexer.cpp". At line 388 the walker is created and at line 422 begins a while loop where the commits for indexing are collected. There is also a comment which stats that merge commits are not indexed.

[2021-12-26 03:03] safield commented on #17
I am running plasma and would also love to see this!

[2021-12-26 12:19] stefanknotzer commented on #34
Done with #58

[2021-12-26 12:19] #34 closed

[2021-12-26 13:18] stefanknotzer commented on #17
Coming soon...
![system-theme](https://user-images.githubusercontent.com/67198194/147409267-f0567a6b-f45b-48a2-8c5c-0b18abe20b23.png)
(openSUSEdark example with unpolished editor colors)

[2022-01-01 15:41] rocex opened #78 "Thank you for your outstanding contribution. Do you have a timetable for downloading binary files? Gitahead often crashes and doesn't work."

[2022-01-03 15:44] Murmele commented on #78
Hi, on which system are you working?

[2022-01-04 11:44] rocex commented on #78
Sorry, I didn't make it clear, My system is Windows 7 Sp1.

[2022-01-04 12:58] Murmele commented on #78
@kas-luthor is using it currently in windows, but he is building it itself. So I think this is the only solution yet

[2022-01-04 20:37] exactly-one-kas commented on #78
I'm currently in the process of wrapping up automatic builds from commits, so you should have a binary ready to download shortly.

[2022-01-12 14:57] #78 closed

[2022-01-13 07:34] Murmele opened #81 "Git Lfs in flatpak package"
At the moment git-lfs is not supported in the flatpak package. I tried to get it into the manifest, but it did not work yet:
https://github.com/flathub/com.github.Murmele.Gittyup/tree/work/git-lfs

[2022-01-25 10:45] Murmele commented on #64
Hi @arcoast , what do you expect with Gitea support?
In Gittyup you are able to clone from every host you want with File->Clone Repository

[2022-01-25 10:51] Murmele commented on #45
I can confirm this. Is it often the usecase to not clone the complete repo?

[2022-01-25 10:54] Murmele commented on #36
Maybe it is a problem with how the qt version is used. I removed copying the system qt into the flatpak package. Maybe there is a problem

[2022-01-25 10:56] Murmele commented on #17
@Grafcube can you give it a try with the Development version? Stefan Knotzer fixed it there.
https://github.com/Murmele/Gittyup/actions/runs/1733705198

[2022-01-25 11:05] Murmele commented on #23
Thank you for indicating me to the correct place. Not sure yet when I come to it

[2022-01-25 11:56] Grafcube commented on #17
I checked out the `Development` branch and used the commands in the README to build it.

After setting the theme in `tools > options > window` to system it seems to be using the correct theme. Haven't noticed any issues so far. Everything seems to be working correctly like menus, popups etc. The colours also seem fine, no contrast issues.

Screenshot for reference. I am no longer using Plasma. I s

[2022-01-25 12:27] wicast commented on #45
It is quite useful when cloning a huge repo or having poor network. Rather common usecase for me.

[2022-01-27 20:29] Minabsapi opened #90 "Option to revert to the previous file staging menu"
This new Double Tree View of the file staging menu may look a little cleaner to some than the one showcased in GitAhead, but I wouldn't really call it a complete upgrade. Some features available in the previous version have disappeared (stage/unstage multiple files at once by ctrl/shift - clicking then right click to bring the menu up, discard changes in this same menu...), and the new separation

[2022-01-28 09:04] Murmele commented on #90
I agree with you, it is not that consequently integrated into the gui. The benefit of this view is you see which documents are staged and unstaged and you don't forget one.
I can try if it is easy to add the other view again.

[2022-01-28 14:54] stingray21 opened #91 "Unable to unstage single files and commit"
I am trying the new version and it works great with a test repo. Unfortunately I am having issues with staging and commiting for some of my production repos (which work with cli git and old gitahead).

I can stage by clicking on the checkbox next to the file, but not unstage single files. The only way to unstage is to click the "Unstage all" button.

Commiting then results in an error
[code]

It's

[2022-01-29 21:45] Minabsapi opened #92 "Display full file content at a specific commit"
From the GUI we can see file changes at a specific commit, but we can't view the whole file from it while `git show` allows that

An option to view the file content at a specific commit instead of current content, which is the current behavior, would be a nice addition. Perhaps by modifying the existing file viewing feature and changing Gittyup opened editor's behavior to view content read only (i

[2022-01-29 21:55] Minabsapi opened #93 "Force commit file"
Sometimes there are files in ignored locations you don't want to track changes of, but still want to commit once. `git add -f` is here to take care of that

An option to explicitly add an ignored file from the GUI would be, I think, a nice addition. I'd imagine it as a small "plus" icon near the file staging section that would display a file choosing dialog to select one

[2022-01-29 22:06] Minabsapi opened #94 ""Amend commit" advanced dialog"
Amending a commit in Git enables a developer to modify commit message, but can do much more. It can also alter author date, creator...

An advanced dialog to change those attributes would be, I think, a nice addition. It would be just a matter of displaying the dialog on triggering the "Amend commit" option. That'd be also a welcome break from the current behavior of the GUI which seems to be just

[2022-01-29 22:33] Minabsapi opened #95 "Set local project name"
It may be only me, but it happens that I have many repositories whose root folder name is the same

Being able to set a name of a project repository only for Gittyup could be, I think, a nice small addition

[2022-01-31 10:17] xdrsynapse opened #96 "IDEA: Repository side bar ability to search/filter recent projects"
With many recent opened repositories it is difficult to find a specific one easily without a searchbox.

[2022-01-31 11:11] Murmele commented on #90
The commit is: 7b13d6a4a61ab499067b9ef31416bdaffbfadace
Currently I don't have the time to revert it

[2022-02-02 17:33] stefanknotzer commented on #90
What about a simple checkbox or context menu button to switch between double tree view (default) to a single tree view (like when viewing committed files)?

This should be easy to implement and does not bring back dead code...
Also the "disappeared" features can be brought back (file context menu, selection model)

[2022-02-02 17:51] Murmele commented on #90
Or should we implement it into the current DoubleTreeWidget? Don't know what is less work

[2022-02-02 18:16] Murmele commented on #95
But if you rename just the root folder?

[2022-02-03 13:18] Minabsapi commented on #95
The thing is, I don't want to rename them because the structure makes sense in my file browser

[2022-02-03 14:32] luzpaz opened #98 "Crash: trying to add github account"
Reproduce:
* Start gittyup
* Click the 'Add Github account'
* Enter username
* Enter personal access token or password
Result:
![image](https://user-images.githubusercontent.com/4140247/152362810-14de3021-12e1-445b-a218-30c5216256c5.png)
* Click OK
Result: Crash
`Segmentation fault (core dumped)`

Gittyup 1.0.0 (d52896fa79c5)
Compiled via the [AUR package gittyup-git](https://aur.archlinux.org/pac

[2022-02-03 17:36] stefanknotzer commented on #90
I like the idea and am implementing a context menu button in DoubleTreeWidget:
- switch between single and double tree view
- hide folders (= the result should be a file list view) and allow multiple selections
Then you can choose between 1 or 2 file trees or file lists.

Or maybe even change the tree and list view separately for the 2 views - I could add a little button next to the Collapse/Expan

[2022-02-05 02:16] machiav3lli opened #99 "Cherry-pick overwrites author"
GittyUp seems to overwrite the author of the commits when cherry-picked.

This is not the usual behaviour of git. It would be great to either have git's cherry-pick default behaviour or at least an option to disable the obverwritting.

And thanks for taking over GitAhead, I'm really liking the direction this project is taking.

[2022-02-09 20:10] stingray21 commented on #91
Unfortunately I couldn't share the react project in which I noticed this behavior, but I know found a public repo which causes the same error for me.

https://github.com/WhatsApp/stickers

[2022-02-22 22:32] arminfuerst opened #105 "add a possibility for displaying the "Committed Files"-Tree on top of the diff-view"
In my opinion, the pane to see the diff is too small to have a comfortable view, here is a screenshot how it currently looks on my screen:
![image](https://user-images.githubusercontent.com/29121472/155227720-46e0c564-47aa-42e6-a9d7-19f844080369.png)
Resizing of the pane doesn't really help as it would make the list of commits uncomfortable small.

I think a view having the tree on top of the diff

[2022-02-24 11:25] jclaveau commented on #98
Same here from Flatpak
[code]

[2022-02-26 07:38] machiav3lli opened #106 "Ghost changes in commits"
In the last I noticed that sometimes GittyUp add changes out of nothing to the staged commits, I wasn't able even to see them in the staged block. Here's the three latest examples:
- Droid-ify: [Problematic commit](https://github.com/Iamlooker/Droid-ify/commit/ce76bde6731627a29ea0dc998bd52751f75174f8) [its fix](https://github.com/Iamlooker/Droid-ify/commit/cd15f0ef707779f9e3583020f0012e0ffb4a7819)

[2022-03-01 17:48] stefanknotzer commented on #106
Assuming 'its fix' is the correction to the staging failure: in every case lines were erroneous deleted? So you had to add the deletions to fix the staging problem?

[2022-03-03 09:32] OdinVex opened #108 "Telemetry remnants still there"
A quick Issues search revealed the mostly-complete removal of telemetry-related stuff, but the Flatpak version (“1.0.0, Mon, Jan 3, 2022”) has a disabled (but ticked) checkbox for Usage Reporting with a Privacy Policy.

[2022-03-04 08:00] machiav3lli commented on #106
AUR's gittyup-git: https://aur.archlinux.org/packages/gittyup-git

[2022-03-04 20:28] slackerbob opened #109 "Segmentation fault when using spacebar to select files in Unstaged Files"
Frequently, while selecting files by pressing the spacebar in the Unstaged Files window, the program crashes with:

`Segmentation fault (core dumped)`

More messages:

[code]

Steps to reproduce:

1. Open program
2. Open a repo with sidebar or "Open Repository" with one or more unstaged files.
3. With the "Unstaged Files" window focused, press spacebar to select a file.
4. Roughly 20% of the time,

[2022-03-05 11:58] stefanknotzer commented on #109
Acknowledged: `Q_ASSERT(isStageEnabled());` in DetailView.cpp

[2022-03-05 17:54] Murmele commented on #108
Yes in the flatpak version on flathub I just disabled and commented out everything but let the checkbox in. In the development cersion everything was removed cleanly. Check out the development version in the releases

[2022-03-05 17:55] Murmele commented on #106
I think I have seen this too.

[2022-03-05 19:31] OdinVex commented on #108
Thanks for following up on this inquiry, I appreciate it. Nerves at ease. :)

[2022-03-05 19:31] #108 closed

[2022-03-10 07:10] Murmele commented on #106
In this scenario, `add_subdirectory(Spice)` does not show if it is staged or not. When opening a different git tool it shows that this line is staged. Maybe it is related to this bug here.
![image](https://user-images.githubusercontent.com/10099533/157607820-5662352b-f3af-409c-8563-e2dd8c29dde5.png)

[2022-03-15 20:58] Murmele commented on #106
Hmm not reproducable anymore

[2022-03-17 02:36] machiav3lli commented on #106
Since my last writing, I had it only once, and still not reproducable. Maybe there's something changed partly fixing it or it's just me being more cautious with each staging and commit.

[2022-03-17 09:53] Martin2278 commented on #106
No in this area nothing changed so the issue is still there

[2022-03-17 09:57] Martin2278 commented on #106
I think it is a missmatch between between staged and unstaged file passed to the Filewidget.

[2022-03-23 00:25] Forger125 opened #110 "[Feature Request] Remember GitHub Personal Access Token after initial login"
After logging in with a 2FA-enabled GitHub or GitLab account by username / personal access token, Gittyup successfully gets the repository list and can access the repositories. However, when attempting to make changes to the remote, i.e. pushing a new commit to the repository, I am prompted to login again.

It would be nice / efficient if there was an option for Gittyup to remember the credentials

[2022-03-23 18:41] OdinVex commented on #81
Yeah, I can't use it to work with Unreal projects at the moment, I've stuck to using a plugin inside Unreal for now.

[2022-03-23 19:58] OdinVex opened #111 "*.desktop for ninja install & /usr/local pollution?"
I notice the flatpak version uses a `*.desktop`, but a regular `ninja install` doesn't? Should this all be polluting `/usr/local` like it is or did I miss a step?

[2022-03-23 20:26] OdinVex opened #112 "[Feature Request] Ability to separate/label remote repos"
I find it a bit difficult to navigate between organizational repos and personal repos in the Remote list. Perhaps subcategorizing them by Organization might be quite handy.

[2022-03-23 20:30] Murmele commented on #81
If you are using a native version, it works fine. It is only related to the flatpak version

[2022-03-23 20:32] Murmele commented on #81
Use the content of the described manifest
https://github.com/flatpak/flatpak-builder/issues/453

[2022-03-23 20:41] OdinVex opened #113 "[Feature Request] Sign-off on Commits"
The ability to sign-off on commits would be very much appreciated. Fetch from `.gitconfig`:

`[format] signOff = true`

[2022-03-23 20:54] OdinVex commented on #81
I was aware, it's one of the many reasons I really dislike AppImage/FlatPak/Snap stuff. Slowly migrating to Manjaro with AUR to end all of that kind of stuff, once and for all. Thank you for following up, though. :)

[2022-03-23 21:13] Murmele commented on #81
Yes thats the drawback of it. But it is easier to maintain just one linux version 😄. I got now a hint so I might be able to fix it next days

[2022-03-24 20:31] Murmele commented on #81
fixed in the new version of the flatpak. It might take one or two days until the version is published on flathub

[2022-03-24 21:20] Murmele commented on #111
At the end everywhere a *.desktop file should be. Perhabs I don't maintain other linux packages than the flatpak one.
Which distribution are you using?

[2022-03-25 00:47] OdinVex commented on #111
Several, but mostly a Mint Cinnamon in this case.

[2022-03-25 04:54] OdinVex commented on #81
Sad to say, I have the updated version (git-lfs is in the manifest and such), but something is wrong. It finds git-lfs, but opening up `Configure Repository` and checking `LFS` shows no URLs and a broken environment:

Inside LFS Environment:
`Error getting git version: exec: "git": executable file not found in $PATH`

[2022-03-25 14:48] slackerbob opened #114 "Segmentation fault on file type change"
Any time the program attempts to open a local repository that contains a "typechange", the program crashes with a segmentation fault.

Upon opening the repository:

[code]

In my case, a typechange is caused when I delete a file and replace it with a symlink.

The git status output:

[code]
This happens consistently anytime a typechange is present, and does not seem to matter if other changes are

[2022-03-28 06:47] Murmele opened #117 "Wrong label"
This label shall be removed. Maybe it was forgotten to remove
TODO: check out, whats the reason why it was there
![grafik](https://user-images.githubusercontent.com/10099533/160341631-d735a8e6-7d5d-466d-bd7b-71001bd76c5f.png)

[2022-03-28 07:19] Murmele commented on #81
Thanks @OdinVex I will have a look into it

[2022-03-28 17:09] OdinVex commented on #81
I took more than a cursory glance at the Flatpak, and I've noticed I can't make a commit or unstage, nothing but git errors each time I try. `Error: failed to call git rev-parse --git-dir --show-toplevel: ""`

[2022-03-28 21:36] OdinVex opened #118 "[Feature Request] (Flatpak) Allow certificate overrides"
This is a bit of a Flatpak issue regarding trusted certificate stores. I run my own CA trusted by everything in Linux, but Flatpak apps never trust the CA because it uses its own store. Perhaps an option to trust Linux instead would be handy for people who host their own stuff!

[2022-03-28 21:54] OdinVex opened #119 "[Bug] Git-LFS backend incorrectly parsing tracked items"
`git-lfs track` returns output such as (Unreal Engine example):

[code]

Because of the logic in `QStringList Repository::lfsTracked()` in `src/git/Repository.cpp`, Gittyup currently appends an extra (incorrect) line to the list of tracked items, called “Listing”.

[2022-03-29 08:02] exactly-one-kas commented on #117
This is most likely leftover from the external command text field for file manager and/or terminal

[2022-03-29 08:29] exactly-one-kas commented on #92
You can use the "single tree view" button to view the full tree and files of the selected commit. Does this satisfy your use case?

![image](https://user-images.githubusercontent.com/16035731/160567551-aee93688-c95b-4719-bd3c-4e5be8a09204.png)

[2022-03-29 08:31] exactly-one-kas commented on #91
Note: Current commit of that repository is https://github.com/WhatsApp/stickers/commit/0c51d2e48e71d3dd9e3475eb2095a6097c0f3950

[2022-03-29 08:36] exactly-one-kas commented on #46
The GitAhead / Gittyup index is just a search index, we use the standard staging index for staging operations.

[2022-03-29 10:05] exactly-one-kas commented on #91
No, i just left the note for reproducability so I can look at the issue later on

[2022-03-30 00:18] OdinVex commented on #119
The only concern I have for this is whether git may use different strings for localized information. Is it certain that git will return those kinds of strings being used?

[2022-03-30 00:20] OdinVex opened #121 "[Feature Request] GPG Signing Support"
It'd be extremely helpful to have GPG-signing support, to verify uploads.

[2022-03-30 00:22] OdinVex commented on #113
To further clarify, this is to support “Signed-off-by: User Name <user@domain.tld>”, used with `git commit -s ...`

[2022-03-30 06:24] Minabsapi commented on #92
This is indeed a solution, but I was more thinking about bringing that to the double-tree view and replace the default behavior I explained earlier, as it in my opinion doesn't make much sense

[2022-03-30 16:42] OdinVex commented on #119
For now, one developer has added the separation mechanism (whatever it will be) to [git-lfs v3.2.0 milestone](https://github.com/git-lfs/git-lfs/milestone/33).

[2022-04-01 06:17] Murmele commented on #81
I will have a look at the weekend why it is needed

[2022-04-01 07:56] yashpalgoyal1304 opened #123 "Stable binary release?"
hi, where can i get the stable binary release? the readme says the prerelease is available, but what's the stance on stable releases?

thanks (:

[2022-04-01 09:36] Murmele commented on #81
![image](https://user-images.githubusercontent.com/10099533/161237682-8ad75c31-f3bd-4bfb-be66-fb92e3a88bd8.png)

[2022-04-01 09:36] Murmele commented on #81
@OdinVex I merged your merge request. Thanks :)

[2022-04-01 09:38] #81 closed

[2022-04-01 10:01] Murmele commented on #106
Seems to be different on windows and on linux. I was able to reproduce it on windows, but on linus the behavior is different

[2022-04-01 10:45] OdinVex commented on #81
@Murmele, Will check when Flatpak is updated. :)

[2022-04-01 10:54] Murmele commented on #123
Hi,
for linux you can use the flatpak package: https://flathub.org/apps/details/com.github.Murmele.Gittyup
Currently for the others there does not exist a stable yet.
You can try the prerelease

[2022-04-01 11:36] yashpalgoyal1304 commented on #123
ohkay, thanks for replying (:

[2022-04-01 11:36] #123 closed

[2022-04-01 16:50] Murmele commented on #106
I have now a reproducable example. Hope i can fix it soon

[2022-04-01 18:11] machiav3lli commented on #106
Ah, nice!

[2022-04-02 11:17] Murmele commented on #106
@machiav3lli
Can you try if you are able to reproduce with the build artifacts from here: https://github.com/Murmele/Gittyup/pull/122

[2022-04-02 12:22] #119 closed

[2022-04-02 19:56] OdinVex opened #126 "[Bug] Dark theme does not theme menu (on Linux Mint?)"
I've attached a screenshot to show the issue. The menu bar isn't themed at all, despise my selecting `Dark`. For now, I've decided to use the `System` theme, and it works well for me. See below for screenshot. (I dislike embedding without being able to use a spoiler wrapped around.)

[Broken Dark Theme](https://user-images.githubusercontent.com/44311901/161399022-c6552ee5-7ec4-4fb5-b081-46a5206ef7

[2022-04-07 11:48] silopolis opened #129 "Add snap to install means"
Hi

Very happy to see GL continued, it'd be nice to have it available on the snapstore.

Thanks in advance
J

[2022-04-14 03:43] JulianGro commented on #110
Same issue here. Not sure what is going on because GitAhead has always kept my credentials.

[2022-04-19 11:27] Murmele commented on #129
Currently we support only flatpaks: https://flathub.org/apps/details/com.github.Murmele.Gittyup

[2022-04-19 12:23] Murmele commented on #109
@slackerbob is it possible if you create an example repository (just create a new one and create a few files in there and try to reproduce it) on which only step 3 must be done to reproduce it, because it depends on the content of the repository

[2022-04-19 12:26] Murmele commented on #109
[Test.zip](https://github.com/Murmele/Gittyup/files/8512920/Test.zip)

1) Select "New Folder/New Folder2/Test123.txt"
2) Press space

[2022-04-19 13:01] silopolis commented on #129
That's why I asked to "add" snap support 😉

[2022-04-19 18:01] exactly-one-kas opened #133 "Distinguish between symlink and normal file in diff tree view"
See #114

[2022-04-19 18:12] silopolis commented on #129
Le mar. 19 avr. 2022 à 16:20, Murmele ***@***.***> a écrit :

AFAIC, the benefit would be to have all my favorite softwares available via
a single app manager and have both installed.
Furthermore, I find snap a little more user friendly.

[2022-04-20 06:57] #117 closed

[2022-04-20 13:14] Murmele commented on #106
I close it for now. If it happens again, please reopen it

[2022-04-21 16:29] wrmbaron opened #134 "SSH connectivity on Windows 10"
There has been a problem with SSH connectivity on Windows 10 since version 1903. Libssh2-1.10.0 solves that problem.

The current version of Gittyup still references version 1.9.0. Could you please update the references submodule version for libssh2 to libssh2-1.10.0?

[2022-04-22 09:24] Murmele commented on #134
We have to update all dependencies. I hope I come to it next days

[2022-04-22 13:05] Murmele commented on #98
![image](https://user-images.githubusercontent.com/10099533/164719967-8d864e59-ba4d-4530-98a2-990374cc5bda.png)
https://docs.github.com/en/rest/overview/other-authentication-methods

This is why it does not work anymore. But it should not crash

[2022-04-22 13:36] alerque opened #135 "Versions screwed up, needs to be bumped to a bigger number"
A 1.0.0 release was just tagged, there there was already a [1.0.0 tag from last year](https://github.com/Murmele/Gittyup/releases/tag/gittyup_v1.0.0) and indeed a 1.0.1 tag as well. That version is already packaged downstream in some distros as 1.0.0.

I suggest re-releasing and bumping the version to 1.1.0 or something like that to avoid perpetual confusion and mixups.

[2022-04-22 13:43] alerque commented on #135
Additionally the current tag is called "stable". That is not a sustainable way to cut releases --- it can't be packaged for downstream distros properly. Please actually add a tag such as `v1.1.0` or whatever scheme you are going to follow. You can keep a sliding "stable" tag too, but I suggest that's unnecessary as GitHub already has a system for linking to the newest stable tag using the `latest`

[2022-04-22 13:51] Murmele commented on #98
For now the easiest way is to setup a ssh connection. I think we have to implement OAUTH2 to be able to use Github login in Gittyup
Adding ssh keys:
https://github.com/settings/keys

[2022-04-22 14:25] Murmele commented on #114
@slackerbob

can you try the builds from [this](https://github.com/Murmele/Gittyup/pull/131) MR when the CI is finish? Now we are showing if it is a typechange

[2022-04-22 14:26] #114 closed

[2022-04-22 14:28] Murmele commented on #135
Hi,
the current tag is gittyup_v1.0.0.

Sorry at the moment I'm playing around with automatic releases therefore it might be confusing

[2022-04-22 14:38] Murmele commented on #133
In #131 I added typechange to the status. Is this then still needed?

[2022-04-22 15:02] alerque commented on #135
Please don't play around with automatic releases in the production repo! Please start with at least going and changing that "stable" release to mark it as a pre-release instead of a final.

By the way to play around with CI automation for releases the best way is to create yourself a scratch GitHub org, then fork the project in there. That way you can push things to the default branch, try out tag

[2022-04-23 05:21] exactly-one-kas commented on #133
I'll look into it

[2022-04-23 16:20] Murmele commented on #133
thanks :)

[2022-04-23 16:44] Murmele commented on #134
@wrmbaron
can you try the artifacts of this version as soon as it is finished?
https://github.com/Murmele/Gittyup/pull/137
https://github.com/Murmele/Gittyup/runs/6141279292?check_suite_focus=true

[2022-04-26 05:31] exactly-one-kas commented on #133
Yep, your PR fixes it

[2022-04-26 05:31] #133 closed

[2022-04-26 06:13] Murmele opened #141 "Multiple calls to setDiff when triggering refresh"
When triggering refresh manually 5 times DoubleTreeWidget::setDiff will be called.

[2022-04-26 10:41] Murmele opened #143 "Single line staging windows"
When staging single lines, where the file has only LF, the complete file changes

[2022-04-26 13:15] Murmele commented on #134
You can see the artifacts in the summary (bottom of the page):
https://github.com/Murmele/Gittyup/actions/runs/2212892212

We will create next days a release after this the MR will be merged then you get a latest release of the version.

[2022-04-26 23:59] machiav3lli commented on #106
Hm.. it worked just fine till yesterday, when I had it again and till now am unable to reproduce it (Nothing changed, I'm still using the latest dev AUR gittyup-git).

[2022-04-27 15:11] slackerbob commented on #114
That seems to have fixed it for me! Thank you!

[2022-04-30 10:47] Murmele opened #147 "Change Windows Release exe name"
@exactly-one-kas

After every release the following files must be updated which might be error prone. What do you think about removing the version number of the exe?

- Readme.md
- index.md

[2022-04-30 11:16] alerque commented on #147
Release artifacts should always have the version in the name. Without it lots of mirroring/caching/packaging mechanisms will break. You want to be able to have more than one in a directory as well. Just change the readme to link to the release, not the exact file. You can also use the `latest` keyword to link to the latest release without knowing the tag, which is useful for README and other place

[2022-04-30 11:26] Murmele commented on #147
@alerque thank you for your hint. I will checkout if it is possible to reduce.

[2022-05-01 07:36] Murmele opened #151 "Remove one trigger of github actions, because currently two triggers are created"
Currently when creating a pullrequest two triggers are created. Probably this is because in the build.yml

on:
  push:
  pull_request

is included. This uses a lot of computational power. @exactly-one-kas  do you think we can do the action only for pushes on master or do you need it for something else?

on:
  push:
    "master"
  pull_request

[2022-05-01 07:38] Murmele commented on #147
But using the latest keyword does not help, because you have to change in the Readme also the executable name so you have to change always there

[2022-05-01 11:05] Murmele commented on #134
closed by #137

[2022-05-01 11:05] #134 closed

[2022-05-02 14:44] exactly-one-kas commented on #151
I don't need a build on every push. If necessary, I can just manually start the pipeline with the `workflow_dispatch` trigger.

[2022-05-02 15:06] exactly-one-kas commented on #147
Maybe we could let the markdown files be generated by CMake and have them be published onto `gh-pages` via GitHub Actions on pushes on `master` using https://github.com/marketplace/actions/github-push?

[2022-05-02 16:08] #151 closed

[2022-05-02 16:24] exactly-one-kas opened #157 "ICO rendering in Windows uses icon cache"
The change preview doesn't properly show the old and new icon when an ICO file has changed contents - it always grabs the image from the user's icon cache.

![image](https://user-images.githubusercontent.com/16035731/166269838-45e6e764-9c7c-4519-a7c1-f937c0904446.png)

[2022-05-02 17:47] Murmele commented on #147
Yes I thought about something like that too.

I set up yesterday that the github page will be created and published as soon as a new gittyup tag will be set. So for changing index.md would work

but for the Readme.md it must be committed separately (For me this is not a problem or what do you think?).

I thought also creating the appdata.xml with cmake so the release notes have to be written only

[2022-05-03 07:09] Murmele opened #158 "Windows 64 build artifacts"
For some reason the x64 build is not available.

![grafik](https://user-images.githubusercontent.com/10099533/166416002-f9db4935-78b0-477f-95a5-8d189be385dd.png)

![grafik](https://user-images.githubusercontent.com/10099533/166416184-44e3a407-d5b5-48a6-b16d-ad27b0a089c9.png)

[2022-05-03 07:14] Murmele commented on #158
Here it is still win64:
[add space otherwise it gets detected as heading](https://github.com/Murmele/Gittyup/actions/runs/2250683416) Gittyup #633: Commit [ffe1b21](https://github.com/Murmele/Gittyup/commit/ffe1b216ec570f8e2c5221387411375806ffd39f) pushed by [Murmele](https://github.com/Murmele)

[2022-05-03 07:21] Murmele commented on #158
https://cmake.org/cmake/help/latest/variable/CMAKE_CL_64.html

[2022-05-03 17:44] #158 closed

[2022-05-05 12:15] Murmele opened #163 "Github page is published even when pushed to master"
It should deploy the github page only when a release tag will be created.

Currently:
[code]

[code]

[2022-05-08 19:54] #163 closed

[2022-05-09 08:40] Murmele opened #166 "Git checkout does not update submodules"
When doing checkout of a commit, the submodules have to be updated manually:
```git submodule update --init --recursive```

[2022-05-15 10:32] Emuzex opened #167 "Crash after theme selection"
After install i started gittyup, then i picked the dark theme. The program crashed instantly and now doesnt start.
Installed via yay

**Console output after start gittup**

Theme dir: QDir ("/home/emuzex/.cache/yay/gittyup/src/gittyup/conf", nameFilters = {"*"}, QDir :: SortFlags (Name | IgnoreCase), QDir :: Filters (Dirs | Files | Drives | AllEntries))
Theme dir: QDir ("/home/emuzex/.cache/yay/gi

[2022-05-16 12:09] Murmele commented on #167
Hi,

Currently the aur package is provided by someone outside of the project.

The error was reported also here: https://aur.archlinux.org/packages/gittyup

[2022-05-16 16:18] alerque commented on #167
I am the AUR packager. I'm happy to fix the packaging, but I believe this is actually a legitimate upstream issue and needs fixing here in the project.

Somewhere in the build system (`cmake` + `ninja build`) an assumption is being made that a full file path as detected during build will be the same after install (`ninja install`). This is a bogus assumption that will not be true for *many*/*most*

[2022-05-16 17:42] ItsCubeTime opened #168 "Cant login to my github? Host requires authentication - I dont use authentication, Ive never used authentication"
![image](https://user-images.githubusercontent.com/20190653/168651598-0b99a1c9-d9b2-4edb-9c4e-8a58f5da39a1.png)

Theres also this old related issue: https://github.com/gitahead/gitahead/issues/494 where they suggest creating an access token to use as password, I tried that as well with the same outcome

[2022-05-17 07:49] Murmele commented on #167
Hi @alerque, good to know. I'm working currently on using libgit2 upstream instead of a custom one. So I will notify you as soon as this will be merged (https://github.com/Murmele/Gittyup/pull/153).

I will check out where the lua path is set wrongly

[2022-05-17 08:30] alerque commented on #167
Thanks. I'll keep an eye out and test, and if I get a chance try to root out the issue myself. Also if I can't find the source I might temporarily monkey patch the installed package files by search/replacing the build path to the permanent one—at least until this is fixed for all builds by default. Note that similar issues have come up with some Lua Rocks packages that try to detect their own loca

[2022-05-17 08:51] alerque commented on #167
Just a follow up some initial searching suggests this isn't something that can be monkey patched because the faulty path isn't anything in plain text in Lua files it is in a binary somewhere.

[2022-05-17 18:40] ReubenM commented on #167
@alerque I believe you could monkey patch the conf path set in src/conf/CMakeLists.txt line 13

https://github.com/Murmele/Gittyup/blob/f38eb16ab30c81fc2663b5a3e9d0022e056e0fa3/src/conf/CMakeLists.txt#L13

[2022-05-17 18:43] alerque commented on #167
@ReubenM Interesting find. Definitely a bug in the build if `CMAKE_SOURCE_DIR` is ending up baked into the final installation binaries, but yes we might be able to patch that before build. Did you try it by the way? It's possible that will break other things during the build process.

[2022-05-17 18:51] ReubenM commented on #167
@alerque Haven't tried building it patched yet, but that appears to be the source of the issue

[2022-05-17 20:08] alerque commented on #167
I tried patching that line and still don't get a working build. I do get a build, but if the build time source paths are not available at run time (as is the case for an installed program) it still crashes

[code]

[2022-05-20 08:36] Murmele commented on #168
Currently the Github Account authentication does not work, because OAuth2 is not yet implemented in Gittyup and the previous basic authentication on Github is anymore allowed.

The easies way to push to Github:
1) Create ssh key on your computer
2) Add the public key to your Github account  (https://github.com/settings/keys)
3) clone Github Repository using ssh (Gittyup for example: git@github.com

[2022-05-22 06:34] #35 closed

[2022-05-22 08:18] Murmele commented on #106
@machiav3lli I think now I found it :) Can you have a look on the pullrequest and the description there. Maybe you remember if you had a scenario like this.
https://github.com/Murmele/Gittyup/pull/172

Please open this issue again if this does not fix you problem

[2022-05-22 08:18] #106 closed

[2022-05-22 12:05] Murmele commented on #99
@machiav3lli can you have a look on the linked pullrequest if this is the behaviour you would like to see

[2022-05-23 09:08] machiav3lli commented on #99
Seems theoretically right, I'll close it for now and test it later on and report. Thanks!

[2022-05-23 09:08] #99 closed

[2022-05-23 09:12] machiav3lli commented on #106
Thanks, I'll do. And please consider refreshing the AUR releases (either update the non-dev gittyup-git or do a formal release)

[2022-05-23 09:14] Murmele commented on #106
I am planning to create a new release next days. Currently we don't support officially AUR releases.

There is a discussion ongoing: https://github.com/Murmele/Gittyup/issues/167

[2022-05-23 17:37] alexporth commented on #64
Not to OP but Gitea has a similar structure to Github. So being able to log in to the service and getting all repos associated with the account as remotes, like what happens with Github, would be nice.

[2022-05-23 21:08] MMariusch opened #177 ""TLS initialization failed" while adding account"
Hi
when I try to add an account to the client I get this message. After that the client shuts down.
I'm working on Windows 10 version 19044.1706.

![Untitled](https://user-images.githubusercontent.com/49458986/169905899-a337cd3d-2748-4a5b-89f4-d3b90d937451.png)

[2022-05-26 12:46] MMariusch commented on #64
That would definitely help. I tried to add my account by manually setting the URL but it doesn't work. Alternatively a tutorial would be nice.

[2022-05-26 14:05] MMariusch opened #178 "Multiple Stash problems"
Hi,
I found some problems while trying to use the stash option.
First problem is that the stash button won't unlock when files get detected.
![image](https://user-images.githubusercontent.com/49458986/170501845-ce891b19-b06e-4d6d-b878-d802528deba5.png)

I stashed my files using another client. While applying it turned out that applying doesn't work when a file is staged.
![image](https://user-imag

[2022-05-28 05:51] exactly-one-kas commented on #168
@ItsCubeTime you said it doesn't work using an access token - which scopes did you assign and which version are you using?

For me it works with just the `repo` scope

![image](https://user-images.githubusercontent.com/16035731/170812118-1effd7e7-5296-4b2e-9cf6-542c67e90523.png)
![image](https://user-images.githubusercontent.com/16035731/170812129-a5528c3f-0ae4-4440-a99a-3be5c4aad8d1.png)

[2022-05-28 06:22] exactly-one-kas commented on #177
I can't reproduce the TLS error (Windows 10 Pro 64-Bit 19044.1645), but I'll try again after the next update.
Are you using https://gitlab.com?

I can however reproduce the crash after a failed login attempt.

[2022-05-28 14:52] #39 closed

[2022-05-29 17:22] AluminiumTech commented on #110
I do really hope this gets fixed cos this is the one thing stopping me from using GittyUp as my main git client. I'm surprised that it's taken so long to get noticed and that it hasn't been fixed (or that there's no timetable for fixing it) considering how big of an issue it is.

[2022-05-29 19:53] Yaksinikos opened #180 "GittyUp wont start"
System:
Manjaro Linux, Kernel 5.17.9-1
Language: DE
DE: MATE Desktop

Gittyup version: 1.1.0-1
Installed from AUR: https://aur.archlinux.org/packages/gittyup

GUI does not even open, using the menu.
Starting using the terminal-console returns a error:

[code]

[2022-05-30 08:26] Murmele commented on #180
Related to #167
Currently the AUR package is not officially supported by us. We have currently only the flatpak package: https://flathub.org/apps/details/com.github.Murmele.Gittyup

[2022-05-30 08:26] #180 closed

[2022-05-30 08:33] Murmele commented on #167
@alerque maybe you can have a look through the FLATPAK if's, maybe you find something there

![grafik](https://user-images.githubusercontent.com/10099533/170952061-31388f24-084e-47b0-a023-3edfae93e57b.png)

[2022-05-30 08:35] Murmele commented on #167
@Emuzex Can you have a look into /usr/lib/gittyup
Is there any Resources folder? And maybe the lua plugins

[2022-05-30 08:37] Murmele commented on #167
Can you try to set it to {CMAKE_BINARY_DIR}/Resources
and maybe also the L10N_DIR as it is done for the flatpak package?

[2022-05-30 21:18] ArkyonVeil opened #181 "Add the dropdown options from the main screen to the side view"
So it was my first time using the program. First impressions were quite nice, but I came upon a bit of a break in the flow of the program.

Namely this:

![image](https://user-images.githubusercontent.com/42283444/171059668-7d2a4aa0-9f76-43b7-947f-0903f03b2af3.png)

On the side view, right clicking it only lists the !DANGEROUS! discard option which would've nuked my files if I hadn't had the fores

[2022-05-31 13:35] Murmele commented on #181
Hi @ArkyonVeil yes this is one point we have to work on :) If you press on discard, you get first a dialog if you really want to discard the changes. So just clicking on it does not change anything ;)

[2022-06-01 08:31] arminfuerst commented on #105
No. I assume you are asking because of the resolution, so the explanation might be that I prefer multiple displays and currently have a resolution of 1280x1024 on all my displays.

[2022-06-01 08:35] Murmele commented on #105
So you have multiple windows on one display, otherwise it is not possible that the width is smaller than the height

[2022-06-01 09:15] Murmele commented on #110
I will check it out after 1.1.1 is released

[2022-06-01 09:22] Murmele opened #182 "After adding Github Account, Other remote connections are anymore available"
![grafik](https://user-images.githubusercontent.com/10099533/171371678-80fc5b42-a073-43ef-9934-53e219742dce.png)

Maybe it is also because I have a lot of repositories and the others got shifted.

[2022-06-01 09:29] arminfuerst commented on #105
No, gittyup is running full screen, but the (first) screenshot of this issue is just a part of the window, that's why it's width is smaller than the height. The other "screenshots" are created using GIMP, just in case my description would not be clear enough...

[2022-06-01 09:34] Murmele commented on #105
No it's clear. It shouldn't be that a problem to implement

[2022-06-01 09:34] arminfuerst commented on #105
Thanks - that's great to read :)

[2022-06-01 12:01] Forger125 commented on #110
Thank you for your work to keep this project alive @Murmele. You rock!

[2022-06-02 13:31] Murmele commented on #109
I tried this again out and I get a segfault in the qt library it self and not in DetailView.cpp. @slackerbob can you try to reproduce?

[2022-06-03 17:40] tester0077 opened #186 "Cannot commit"
Running Gittyup 1.1.0 under Mint 20.
My local git repos are on a Windows share running on OpenmediaVault 5.6.26
I can clone repos from that PC but I cannot commit back to it.
When I try, I get the error :
    " Unable to push to 'origin' - failed to create temporary file '/run/flatpak/doc/553105de/wpSk.git/objects/pack/pack_git2_tfL4qe': Permission denied"
The git repo directory is shared via CIFS

[2022-06-05 10:43] ItsCubeTime commented on #168
I gave it access to literally everything

[2022-06-07 06:24] Murmele commented on #186
Hi @tester0077, the flatpak does not allow to edit files outside of the home folder. But I think there is another problem with your configuration, because normally you should not need more than the home folder.

I am not sure If I understood correctly:
- "origin" is on the OpenmediaVault OS?
- You are cloning to your local pc (into the home folder or any subfolder of it)?
- Are you able to commit,

[2022-06-08 15:00] Pietro395 opened #188 "Ubuntu 22.04: Misaligned menu"
Installed via Flatpak on Ubuntu 22.04, the menu is misaligned

![immagine](https://user-images.githubusercontent.com/50447537/172649785-c5da89ee-be3e-42bb-83f5-9acece7566b3.png)

![immagine](https://user-images.githubusercontent.com/50447537/172649896-74cf04da-fb21-43cc-850e-69751fe27e97.png)

[2022-06-09 08:12] Murmele commented on #188
I had this problem too a few versions of flatpak ago. Which version of flatpak are you using?

[2022-06-09 08:17] skar395 commented on #188
Flatpak 1.12.7
The official ppa doesn't support ubuntu 22.04 yet

[2022-06-10 08:39] alerque commented on #167
Changing that does change the specific path shown in the panic message, so we're on the right track ... ish.

[code]

Having compiled with that path mangling in place, I now get:

[code]

Having a look at where the System.lua file actually is, it looks like it is in `.../Resources/themes/`.

[code]

I could keep trying to patch it, but I think something is seriously off about this path handling. A

[2022-06-10 09:15] Murmele commented on #167
The binary is in /usr/lib/gittyup or?

[2022-06-10 09:25] Murmele commented on #167
Ah ok you are moving the binary:
`install -Dm0755 "$_bin" "$pkgdir/usr/bin/$pkgname"`

That means cd("Resources") will not work anymore. Then it will be searched in CONF_DIR. Can you try to copy the Resources folder manually to the correct place?

[2022-06-10 09:28] Murmele commented on #167
What is the correct location those configuration files? /usr/share?

[2022-06-10 09:39] alerque commented on #167
Yes, I think ideally these should be in `/usr/share/gittyup/`, perhaps even without the 'Resources' segment of the path. At the moment the installer puts them in `/usr/lib/gittyup/Resources` along with the other stuff (the executables, plugins, lib directory, etc should probably stay in `/usr/lib;`; the include directory also in there should almost certainly either not be packaged or moved to `/us

[2022-06-10 09:40] alerque commented on #167
DATA_INSTALL_DIR sounds like a much better plan than CMAKE_SOURCE_DIR!

[2022-06-10 09:44] alerque commented on #167
Looking at other vars, maybe `CMAKE_INSTALL_DATADIR` would be a better naming scheme (see existing `CMAKE_INSTALL_PREFIX` and `CMAKE_INSTALL_MANDIR`).

[2022-06-10 09:48] alerque commented on #167
...on second thought, the `CMAKE_INSTALL_PREFIX` is almost certainly a heterodox usage, that should be just `/usr` instead of `/usr/lib/gittyup` like it needs to be right now. And then things like the MANDIR (and proposed DATADIR) should probably use the prefix plus their own bit of path. At least that's how these vars would be expected to behave in autotools builds, I'm not sure about the cmake i

[2022-06-11 00:56] barreiroleo opened #193 "Launch from terminal. Quiet script."
Hello there!
I did this for running the flatpak version easily from console. Disown the process and silence the output pushing it to /dev/null.
Just save the script somewhere in your path, give execution permissions (chmod +x), and run `gittyup` from your terminal, then be happy.
I hope it helps someone.

[code]

[2022-06-11 09:49] dalpat opened #194 "I've logged in using github PAT, still can not push to github"
Getting this error when trying to push into a branch

I've referred [this](https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/creating-a-personal-access-token) link for generating PAT

[2022-06-11 10:09] exactly-one-kas commented on #194
This sounds like you're using SSH with public key authentication. Removing the key in your GitHub settings should allow you to log in with an access token

Alternatively, you can replace your old keypair with a new one using SHA-2 and replace the public key in your GitHub settings

![image](https://user-images.githubusercontent.com/16035731/173183479-4c08dd99-acf6-459a-b281-a9d29ed68a76.png)

[2022-06-11 14:38] Murmele commented on #193
@barreiroleo thanks for posting. The output on the console we use normaly for debugging purpose. Are you opening the gui always from terminal to not have to click in the menu?
Should we implement something in Gittyup or is it just as information for others?

[2022-06-11 15:20] barreiroleo commented on #193
I spend a lot of time in the terminal, vim, compiling, testing, git, etc. I use the GUI in specific situations, so launching it from the terminal becomes very comfortable and fast.
I doubt that flatpak will let you add something to the path, so this is a tip for someone who lives in the console.
Maybe you want to pin the issue, put it on the wiki or add it to the readme, I don't know.

Great job,

[2022-06-11 15:38] Murmele commented on #193
Yes great idea, I will add it to the readme.

Thanks this is a pleasure to here. I wozld also thank to @exactly-one-kas and @stefanknotzer for your help. I think we have now a really good setup to go on :)

[2022-06-11 15:48] barreiroleo commented on #193
If you want, I'll do a PR in a bit.

[2022-06-11 15:48] barreiroleo commented on #193
If you want, I'll do a PR in a bit.

[2022-06-12 04:40] dima-altinity commented on #121
+1 from me

[2022-06-12 16:20] emansije opened #196 "Building fails because of scintilla"
Building the latest release (1.1.1) failed on Kubuntu 22.04. I followed the steps from the Readme file, after cloning a fresh copy of the repo:

[code]

The process stopped, showing the following message:

[code]

[2022-06-13 11:45] Murmele commented on #196
@emansije Can you provide the full output. I cannot see any problems here. Which Qt Version are you using?

[2022-06-13 11:46] Murmele commented on #193
I will close, because the PR can be merged from my side

[2022-06-13 11:46] #193 closed

[2022-06-14 15:18] skar395 commented on #110
Thank you @Murmele , I'm also waiting for this feature :)

[2022-06-14 19:52] tester0077 commented on #186
The URL looks like  /run/user/1000/doc/493432c5/wpDesk.git

After more work to change permissions on my repo, I get the error:      Unable to push to 'origin' - unsupported URL protocol

I can push  from Smartgit though, so I am not stuck

[2022-06-15 11:40] Murmele commented on #186
@tester0077 I can confirm your issue.

The problem is that you are cloning from a local repository where as the flatpak package is not allowed to access

[2022-06-16 01:08] emansije commented on #196
The Qt version I'm using is 5.15.3+dfsg-2 amd64

This is the output:

[code]

(see attached file `openssl.make.output.txt`)

[code]

(see attached file `gittyup.ninja.output.txt`)

[2022-06-16 06:08] long76 opened #198 "feat: add deb and rpm package"
Why?

Store like Snap, Flatpak uses virtual envirovment for lauch apps. It's much slower than "direct" execution which used after install deb/rpm package. Thanks!

[2022-06-17 19:54] Anixias commented on #177
I can confirm this issue also occurs for GitHub accounts.

[2022-06-18 05:48] exactly-one-kas commented on #194
@dalpat Does it work using the method(s) I described?

[2022-06-18 07:53] exactly-one-kas commented on #177
@MMariusch @Anixias Can you try out the following build and report back the extended error message?

https://github.com/exactly-one-kas/Gittyup/actions/runs/2519652721#artifacts

[2022-06-18 17:49] Murmele commented on #196
@emansije can you provide the same output like you have it in the first post but the full one. in ninja.output it seems to be not available

[2022-06-18 18:43] emansije commented on #196
Oops! Sorry! I sent the `build.ninja` file by mistake. Here goes the ninja output:
[gittyup.ninja.output.txt](https://github.com/Murmele/Gittyup/files/8934132/gittyup.ninja.output.txt)

[2022-06-18 19:42] Murmele commented on #196
seems to be a lua error. Do you have lua installed?

[2022-06-18 19:56] emansije commented on #196
I do have some lua libraries installed:

[code]

Maybe there's some version conflict.

[2022-06-18 20:26] emansije commented on #196
It was a problem with lua, indeed. I removed the following packages:

[code]

It now builds past that point but stops near the end with this error:

[code]

I guess that'll a subject for another issue.

[2022-06-19 07:36] franktopel opened #199 "Cannot update Gittyup - "Some windows failed to close""
I cannot update Gittyup. I'm on
<img width="205" alt="image" src="https://user-images.githubusercontent.com/10668603/174470774-39fc3c85-12c4-49f4-88b4-25a85e0e5559.png">

and my Gittup version is Gittyup v1.1.0 - 8. Mai 2022 - 56168eb

<img width="740" alt="image" src="https://user-images.githubusercontent.com/10668603/174470795-6aad4fa4-c57b-480c-8b51-60638c76cf2b.png">

Steps I do:

1.
<img widt

[2022-06-19 07:40] franktopel commented on #199
The same occurs when I close the Gittyup window manually before clicking "Install and Restart":

<img width="528" alt="image" src="https://user-images.githubusercontent.com/10668603/174470833-a58a62ff-ee62-4800-a091-6fbf3dab8e57.png">

[2022-06-19 07:41] franktopel opened #200 "Starting Gittyup I get this dialog every time despite accepting"
<img width="409" alt="image" src="https://user-images.githubusercontent.com/10668603/174470895-e804af64-5fdb-4f75-90c8-a96d4cd12656.png">

[2022-06-19 09:47] exactly-one-kas commented on #200
Could you install and try the following version, with that Gittyup shouldn't open a port anymore

https://github.com/exactly-one-kas/Gittyup/actions/runs/2523430768#artifacts

[2022-06-19 11:27] franktopel commented on #200
I wouldn't exactly trust a build with that many warnings and errors, sorry. Also I wasn't able to find a binary for MacOS/Apple Silicon at first glance.

[2022-06-19 12:32] exactly-one-kas commented on #200
That's fair, simply wait until #202 has been merged and use the resulting pre-release version

Thanks for the information about macOS' name - I'll rename things soon

[2022-06-20 11:30] micpub commented on #198
i second this, the flatpak version is not usable on ubuntu - slow as hell at refreshing changes in my repos(on disk)
maybe the best would be to setup auto build on: https://build.opensuse.org/
it does packages(ppa's) for fedora / ubuntu / centos / opensuse etc. - linux packaging would be 'handled' once for good.

example project that uses it: https://software.opensuse.org/download.html?project=hom

[2022-06-20 12:07] Murmele commented on #196
Hi @emansije,

rename cmark_exe in the CMakeLists.txt to cmark then it works. This came with the update of cmark.
I think the system cmark is still called cmark, but the one bundled with Gittyup is called cmark_exe

[2022-06-20 21:59] emansije commented on #196
It worked like a charm. Thank you!

Was the renaming o cmark done on purpose, perhaps to avoid conflicting with any other cmark that might be installed in the system?

[2022-06-21 05:27] Murmele commented on #196
Hmm no for some reason it had to be renamed with the new cmark dependency. Don't understand why it does not work without renaming

[2022-06-21 05:27] #196 closed

[2022-06-21 05:30] Murmele commented on #200
@franktopel you can use now the new prerelease. Please close this issue if it solves your problem

[2022-06-21 10:11] alerque commented on #198
Yes there should be deb and rpm (and other distro) packaging.

No it should not be part of this repository. Distro packaging should be managed using distro tooling *not* part of upstream projects.

That being said, I've tried several times to get Arch Linux packaging setup, but this project layout makes it *VERY* hard to do. What I believe this project should do is fix the build system so that it

[2022-06-23 06:46] Murmele commented on #199
I can confirm this issue also on windows. I think for now you have to download it manually

[2022-06-23 13:18] qingxiang-jia opened #205 "Menu bar not showing in global menu"
When using KDE with global menu enabled, the app no longer has its menu bar displayed in app (this is probably okay), but the menu bar also doesn't show up in global menu (this is problematic).

I think we could either don't support global menu at all, just show a menu bar no matter what. Or, we support global menu. BTW, the usual workaround of having application menu in title bar also doesn't wor

[2022-06-25 18:12] alexn-s opened #207 "dead link(s) on the web site"
**issue**
the link to download the win version on the website (`https://murmele.github.io/Gittyup/`) is:
`https://github.com/Murmele/Gittyup/releases/download/stable/Gittyup-win64-1.1.0.exe`

the link is not available. only the newer release:
`https://github.com/Murmele/Gittyup/releases/download/stable/Gittyup-win64-1.1.1.exe`
is available.

probably the links for the other platforms are also inva

[2022-06-29 08:36] Murmele commented on #207
Hi @alexn-s thanks. I pushed it to ghpages, so it will be deployed soon. Was just not updated, because no new release since those updates was created

[2022-06-29 08:36] #207 closed

[2022-06-30 11:39] Murmele commented on #205
duplicate of #36

[2022-06-30 11:39] #205 closed

[2022-06-30 17:11] libookami commented on #36
Hi.

I don't get any output from this command.

The first one says:
`error: com.github.Murmele.Gittyup is neither a pid nor an application or instance ID`

[2022-07-01 07:55] Murmele commented on #36
Sorry you have to open first gittyup (the flatpak version), then enter this command

[2022-07-01 09:49] Murmele commented on #199
![grafik](https://user-images.githubusercontent.com/10099533/176871302-d60160e8-e197-4f97-8435-7fdb3c6b3878.png)

[2022-07-01 15:30] libookami commented on #36
Oops, sorry.
When i run
`flatpak enter com.github.Murmele.Gittyup sh`
It opens a shell like this:
`sh-5.1$`
Then, when i run
`echo $QT_QPA_PLATFORMTHEME`
in the shell i get an empty output.
![Screenshot_20220701_102955](https://user-images.githubusercontent.com/42700490/176924802-c3b1d961-d45f-44f0-b412-23e1ec142a43.png)

[2022-07-05 03:46] micgao commented on #177
I'm getting the same error/crash when trying to login using PAT. Using the link provided above fixes the crash, but am still unable to login.

Windows 11 latest Insiders Beta

[2022-07-05 08:36] micgao commented on #177
No, exact same error message as OP. Crashes when I click OK on the error message. This happens with PAT or just regular password authentication (I tried with both Github and Gitlab)

[2022-07-08 10:23] tai1030 opened #210 "Support for WSLg?"
I would like to ask, it Gittyup (Linux build) support on WSLg?

When I try to run the application, it throw below error:
[code]

WSL Distro: Ubuntu 20.04.4 LTS
Windows 11 21H2 (10.0.22000.778)

[2022-07-08 22:48] akcoder opened #211 "Pressing space bar on unstaged file causes Gittyup to crash"
The only reliable way I've found to repro the issue is open Gittyup, open a repo, then click to the left of the checkbox in the unstaged files picker, then press space bar. See screenshot.

Version: Gittyup v1.1.1 - Friday, June 10, 2022 - 91dda04

![image](https://user-images.githubusercontent.com/830339/178079239-839e99f8-402f-41e3-b336-79b483f99af4.png)

[2022-07-08 22:49] akcoder commented on #211
Appears this is a duplicate of #109

[2022-07-08 22:49] #211 closed

[2022-07-12 10:15] Lfillon commented on #210
Exactly the same problem on Centos 7

During installation of Gittyup via flatpak, I have this message too :

`flatpak install: Not exporting file com.github.Murmele.Gittyup.appdata.xml of unsupported type.`

the latest version of flatpak on Centos 7 is 1.0.9

[2022-07-12 12:23] AsriFox commented on #168
I think I encountered the same problem: cannot clone private repo.
Created a personal access token:
![Screenshot from 2022-07-12 15-19-59](https://user-images.githubusercontent.com/91423563/178488545-4019bdb2-a329-43c9-8a23-be62ba633905.png)
Got the error:
![Screenshot from 2022-07-12 15-20-14](https://user-images.githubusercontent.com/91423563/178488586-f1d8b812-e452-447e-88e2-3ad1e3c7d226.png)
P

[2022-07-13 07:47] Murmele commented on #210
Do Centos 7 uses wayland or x11?

can you show me the output of:

[code]

[2022-07-13 16:18] Lfillon commented on #210
The command doesn't show anything.

I tried to verify $XDG_SESSION_TYPE and also nothing.

I found on internet that wayland uses $WAYLAND_DISPLAY and X11 uses $DISPLAY and after verify environnement variables, I found I only have $DISPLAY, so I conclude that Centos uses X11

Maybe the fact that the Centos is running on a distant server and I access it via ssh explain the result of command, I don't

[2022-07-13 20:37] erickod opened #213 "Is there a way to hide the menu bar?"
I would like to know if there's a config or something to do to hide the menu bar. Someone knows something about it?

[2022-07-14 04:30] device-host opened #214 "Glitch / blanking while hecking for uncomitted changes"

[2022-07-14 04:38] device-host commented on #214
The app is unusable for me - building release from source (I also tried the latest GitAhead version and have exact same issue).
I'm running on Linux (debian bullseye based).

The center pane goes blank (white) for about 2 seconds and left shows the loading animation and 'checking for uncommitted changes'. It is doing this so often that the app is unusable (and may be a risk for epileptics from all

[2022-07-14 11:18] alex-ball opened #215 "Enhancement: support remote repositories located on filesystem"
_Use case:_
I have a network drive that holds a bare Git repo. On my machine, I mount that network drive and clone that repository. I do work on the machine and push changes to the remote on the network drive, so I (or perhaps a colleague) can then pull the changes onto a different machine that can also access the same network drive.

_Current behaviour:_
Running Gittyup v1.1.1 on Ubuntu via Flatp

[2022-07-14 12:58] Murmele commented on #215
Hi alex,

can you try the proposal in #186?

possible dublicate of #186

[2022-07-14 13:25] #215 closed

[2022-07-15 06:54] Murmele commented on #215
@alex-ball don't worry it is somehow an issue. But glad to here that you solved it.

[2022-07-15 06:55] Murmele commented on #186
see solution in #215

[2022-07-15 06:55] #186 closed

[2022-07-15 06:58] Murmele commented on #214
Hi @device-host it should not update every few seconds, only if you have local changes. So that is not the usual behavior.

Which version of flatpak do you have on linux?

[2022-07-15 07:38] device-host commented on #214
Just to be clear the flatpak version doesn't work at all for me (the UI doesn't respond to clicks) so I built from source and the issue described here occurs on release build (and old versions like GitAhead). I mention flatpak because I tried it as a solution - I have the 'old-stable' Flatpak 1.10.7 from the debian repo.

I did some further investigation and found that If i create a repo on anothe

[2022-07-15 08:58] Murmele commented on #214
Sounds like, but it is strange that it changes the file so that the indexer triggers a new change

[2022-07-15 09:04] Murmele commented on #214
I don't think we will implement something here, because in normal cases it makes no sense to stop indexing because then you might get confused why it does not update. I think the best you ask in a Xilinx forum what is it and if it can be turned off.

[2022-07-15 14:59] pimise commented on #177
Exactly the same here. On a fresh install of WSL on a new Windows Session.

[2022-07-17 13:51] ruiznick opened #216 "UI doesn't automatically refresh changes"
OS: Linux Mint 19.3 Cinnamon
App Version: 1.1.1 flatpak

Making changes such as editing/adding/renaming files doesn't automatically appear in the UI. The UI only updates when manually clicking View -> Refresh.

I couldn't find the issue here but might have found something similar in gitahead https://github.com/gitahead/gitahead/issues/318#issue-523909985

[2022-07-18 09:32] tai1030 commented on #210
I am using Docker with WSL2 backend as my local development environment, it provide better performance than Hyper-V as Docker backend. Due to local development purpose, I need to mount the sourcecode folder from Host to Container.

To prevent filesystem I/O high latency issue, the sourcecode must put inside WSL Linux file system (e.g. /home/my-project) instead of Windows file system (e.g. C:\Users

[2022-07-20 13:54] hofq opened #217 "AUR Build Error"
First i tried installing it using `paru -S gittyup` then `paru -S gittyup-git` and last with `git clone git clone https://aur.archlinux.org/gittyup.git` & `makepkg -si`
Always the Same error.
Do you have an Idea how this could happen?

[code]

[2022-07-20 13:55] hofq commented on #217
OS: Arch
Kernal: 5.18.12-zen1-1-zen
WM: Awesome

[2022-07-21 06:28] Murmele commented on #213
I think currently there is no way to hide the menu bar

[2022-07-26 15:01] Developer563 opened #221 "signing error"
I have configured the pgp keys
but I don't know why signing doesn't work.

[2022-07-27 08:54] Murmele commented on #221
Hi @Developer563 can you explain more?

[2022-07-27 10:40] ArkyonVeil opened #222 "Adding bad information to the .gitconfig bricks GittyUp"
So I happened to be half sleep deprived and trying to fix a longpaths issue. So on a whim decided to add longpaths to the gitconfig (incorrectly). My expectation would be that it would throw an error and leave me on my way.

Instead it crashed so hard not even reinstalling or registry digging fixed it, I would be screwed if I didn't have a screenshot of the offending file moments before disaster a

[2022-07-27 11:00] exactly-one-kas commented on #221
Signing commits currently isn't implemented in Gittyup, I'm changing this to a feature request

(`libgit2` supports it via `git_commit_create_with_signature`, but we'll have to implement creating a signature ourself, probably using `gpgme`)

[2022-07-27 16:18] exactly-one-kas commented on #194
I'm cosing this issue since there's no activity here

[2022-07-27 16:18] #194 closed

[2022-07-27 20:41] exactly-one-kas commented on #168
@AsriFox you were trying to clone using SSH - personal tokens only work for HTTPS (as far as I know)
Also, this issue is about linking a GitHub account (accessible using the bottom of the left sidebar)

@ItsCubeTime Did you make sure that the token was put in without any surrounding spaces or newlines? I had a stray newline when copying my token which caused the login to fail

[2022-07-27 21:06] exactly-one-kas commented on #46
@ColonelPanic42 Does this answer your question?

[2022-07-27 22:13] exactly-one-kas commented on #210
@tai1030 do other applications (eg xterm) run properly? Does running `flatpak run --socket=x11 com.github.Murmele.Gittyup` help?

[2022-07-28 14:19] silopolis commented on #129
Meanwhile, I learned more about what really distinguish Flatpak from Snap and switched to it as my go to installer when distro can't provide ;-)

Nevertheless, I still believe I'd be beneficial to the project, even if not a priority of course.

Keep up the good job folks :+1:

[2022-07-29 06:16] #177 closed

[2022-07-29 06:22] #222 closed

[2022-07-29 07:43] exactly-one-kas opened #226 "Implement OAuth for remote accounts"
This would streamline the login process for GitHub and not require the user to create a personal access token

`QOAuth2AuthorizationCodeFlow` would probably be the best starting point for this

[2022-07-29 09:54] Murmele commented on #129
@silopolis Great to hear. We will let this issue open as long as no snap package is provided.

[2022-08-05 07:31] Murmele opened #228 "Rebase/Merge: wrong branch might be selected"
Due to my merge request #218 it is likely that the wrong branch is selected. I thought it show only branches on that commit but this is wrong.

https://stackoverflow.com/questions/40896484/how-to-get-a-branch-on-which-a-commit-is

[2022-08-05 13:34] jonadem commented on #2
It looks like the website is done ! 💪
https://murmele.github.io/Gittyup

[2022-08-05 20:40] Murmele commented on #2
I think we can close this issue, because Website is done and automatic release for Linux, Mac and Win are also available

[2022-08-05 20:40] #2 closed

[2022-08-07 13:43] leoplaw opened #230 "Automatic Fetch Option Ignored"
Configure Repository
Automatic Actions: Fetch  - disable / deselect

Fails, with application asking for authentication details every 10 minutes.

Deselecting ``Fetch every`` and or setting ``minutes`` to zero is ignored after submit ``OK``. Opening ``Configure Repository`` again and the option is still selected.

Editing the remote repository configuration files,
[code]
also does not work.

Gittyu

[2022-08-08 06:35] Murmele commented on #230
@leoplaw thanks fpr reporting. I will have a look into it

[2022-08-08 06:44] Murmele commented on #216
Hi @ruiznick  thanks for pointing to the issue!
We have to distinguish:
 1) Editing file locally
2) Editing the git history by another application or the git command line

In the linked issue they are talking about the second point. Are you refering to the first point?

I have seen this behaviour on hidden files. There I have to refresh manually. For normal files the gui shall be refreshed automat

[2022-08-08 06:49] Murmele commented on #167
I think we can close this, because this is related to #217

[2022-08-08 06:49] #167 closed

[2022-08-09 07:54] leoplaw commented on #230
Further information:
I have two remotes configured for the local repo.
1. GitHub - uses GitHub authentication
2. private server which uses SSH for authentication

GittyUp is always asking every 10 minutes for the private server SSH authentication.
As outlined above, no matter what I do, I cannot seem to disable this.

[2022-08-09 08:57] cclauss opened #232 "Undefined names: printEventDefs(), printEventPrivates(), printEventProperties(), printEventImpl()"
$ `python3 -m flake8 . --count --select=E9,F63,F7,F82,Y --show-source --statistics`
[code]

[2022-08-09 15:22] exactly-one-kas commented on #230
If you have saving credentials enabled, SSH passwords should be saved.
Is the package `git-credential-libsecret` or `git-credential-gnome-keyring` installed on your system?

[2022-08-09 19:37] #228 closed

[2022-08-10 04:31] exactly-one-kas opened #234 "Show warning for username mismatch in credentian popup and remote URL"
When a repository's remote URL contains an explicit username and the user enters a different username in the credentials popup, the password doesn't get saved to the credential store with the URL's username (as it should IMO)

Showing a message telling the user to consider changing the URL's username or removing it should improve that experience

For context, see #227

[2022-08-10 09:44] exactly-one-kas commented on #234
Alternatively, pre-fill and grey out the username field when the URL contains a username

[2022-08-11 14:50] Murmele commented on #109
@slackerbob is the issue still reproducable? We have a merge request pending so we prioritze it if still an issue

[2022-08-11 17:29] DatMayo opened #235 ""TLS initialization failed" while adding account"
Unfortunately I have the same issue as mentioned in #177. When I try to add my github account (2FA enabled, so PAT), I'm getting the same error.

Gittyup v1.1.1

/Edit: Even if I do "Check for updates" via Help menu, I'm getting the same error

[2022-08-12 06:03] exactly-one-kas opened #237 "Add regression test to check QT and OpenSSL compatibility"
Using `QSslSocket::supportsSsl()` should suffice for now

[2022-08-12 07:08] Murmele commented on #235
@exactly-one-kas prepared a new release with the fix in it. Will be v1.1.2

[2022-08-12 08:07] exactly-one-kas commented on #235
v1.1.2 is now available: https://github.com/Murmele/Gittyup/releases/tag/stable

If this doesn't fix the problem, please just reopen this issue

[2022-08-12 08:07] #235 closed

[2022-08-12 20:12] DatMayo commented on #235
@exactly-one-kas workes flawlessly :)

[2022-08-14 20:34] therealprof opened #239 "macOS version requires macOS 11.6?"
I just wanted to try out the macOS build and noticed that it doesn't run due to the minimum requirement being macOS 11.6. Is there any technical need for that? Especially for developers it's really painful to upgrade macOS since new versions always cripple some important functionality in the name of "improved security".

[2022-08-15 08:55] liamjones opened #240 "App will not upgrade from 1.1.1 to 1.1.2 on macOS - "Some windows failed to close""
I tried to install the latest update from inside the app. It downloads but when clicking 'Install and Restart' you just get a dialog stating:

I tried manually closing all windows before doing the update but you still get the same error message.

Running on macOS 12.5.

[2022-08-15 09:46] liamjones commented on #240
Oh, and I should probably mention that the app was installed via homebrew in case that's relevant.

[2022-08-15 12:14] Arxareon commented on #226
Plus one for this one!
Many other clients support OAuth login and it's a lot easier and faster - not only for GitHub but others like Bitbucket as well.

An implementation should definitely be considered, and if and when it does, could we get an ETA?

Please and thank you!

[2022-08-15 18:03] Kazbayadum opened #241 "The "use ours" and "use theirs" buttons are not available for binary files when merging branches."
Hi

I think this is a serious problem. In merge conflicts we can not select "Use theirs" for binary files, because there is not any button.

There is no way for select "theirs" version. I didn't notice this bug until recently, so it looks like I'm dragging old versions of some files from a while ago.

![imagen](https://user-images.githubusercontent.com/2800267/184690188-435fb204-ca70-4487-b1d9-e24

[2022-08-17 02:22] blueyee1122 opened #243 "Crash after collapse folder "Unstaged Files" view"
Hello,
when I collapse 2 adjacent folders, the app happens to crash.
I'm working on **Ubuntu 20.04.4 LTS - 64bit**
Gittyup version:  **v1.1.2**

representation steps:
1. collapse **folder1.1**
2. collapse **folder1**
=>  Crash immediately

![image](https://user-images.githubusercontent.com/106735005/185020097-278a5747-37e4-42d6-b4c7-3091a2b6e8ea.png)

[2022-08-17 03:10] blueyee1122 opened #244 ""Staged Files" and "Unstaged Filed" were not updated after click "stage all" or "unstage all""
Hello,
when I click on "Stage All" button, the files on "Unstaged Files" view are still showing and "Staged Files" not showing. I had to click on "Refresh" button, everything is updated.

click "Stage All"
![image](https://user-images.githubusercontent.com/106735005/185025944-319b1b49-1520-4997-9f55-d19ee0295bf9.png)

**similar for Unstage All**
"Unstage all"
![image](https://user-images.githubuse

[2022-08-18 07:55] philippseith opened #247 "Recent List is case sensitive on Windows"
The list showing recently used repositories is showing the same repo twice with different casing, despite the  fact that paths in Windows are not case sensitive
![image](https://user-images.githubusercontent.com/6890503/185341140-89e0b6cf-6e77-4f23-80a3-30bb6aa6dc82.png)

[2022-08-18 08:03] philippseith opened #248 "Recent List does not expand 8.3 short names on Windows"
The list showing recently used repositories is not expanding Windows 8.3 short names (CTRLXD~1.APP in screenshot should be CtrlXDrive.Application).
![image](https://user-images.githubusercontent.com/6890503/185342638-67730746-be79-4c26-9506-7f2a6e26311b.png)

[2022-08-19 18:17] jjgalvez opened #249 "flatpak desktop file"
please change the .desktop file StartupWMClass from gittyup to com.github.gittyup.gittyup, this is causing it to display the wrong icon on wayland.
Thanks in advance

[2022-08-21 00:51] Huskydog9988 opened #251 "Github Org Grouping"
Currently when you open up the list of remote repos on a Github Account, it lists not only the repos directly under your account, but also all the repos under all the orgs your in. What I'm hoping for is either for their to be sub-dirs for each org, like their already is for each remote account, or for each repo to have the org name prefixed like `org/repo` instead of `repo`.

[2022-08-22 11:13] Murmele commented on #244
@blueyee1122 please add which version of Gittyup you are using

[2022-08-22 11:14] Murmele commented on #243
@blueyee1122 please add which version of Gittyup you are using

[2022-08-22 11:19] Murmele commented on #239
Maybe it is related to the macOS version used to build the bundle?

Have you tried to build the package your self?

[2022-08-23 04:58] blueyee1122 commented on #243
I'm using this version
![image](https://user-images.githubusercontent.com/106735005/186073350-c219f879-c6e8-452f-b680-cf1f592ae7f3.png)

[2022-08-23 05:01] blueyee1122 commented on #244
I'm using this version
![image](https://user-images.githubusercontent.com/106735005/186073801-4d1a41c6-539b-451b-ae25-6741875e778e.png)

[2022-08-23 16:37] Murmele commented on #249
Which icon is used on wayland?

[2022-08-23 16:40] jjgalvez commented on #249
It's the generic yellow circle with a w in it

[2022-08-24 06:07] MarcelInTO opened #255 "Windows installer runs client as unexpected user after installing."
Repro:

1) Be logged on Windows as a regular user account that does not have elevated privileges
2) Install Gittyup
3) During the install, an elevation prompt opens
4) Enter (or have someone enter) credentials for an Administrator account
5) Installation finishes and automatically runs Gittyup when finished.
6) Note that Gittyup is now running as the administrator user and adding using configurati

[2022-08-25 11:39] joracasol commented on #243
I have the same problem. I'm working on Linux Mint 21.
The message it gives me in terminal is Gittyup: /run/build/Gittyup/src/ui/TreeView.cpp:183: void TreeView::setCollapseCount(int): La declaración `value >= 0' no se cumple.
Thank you so much for everything.

[2022-08-26 08:12] Murmele commented on #243
Thanks @joracasol I will check it out

[2022-08-26 13:57] slackerbob commented on #109
I can no longer reproduce this issue.

Thank you for the fix!

And my apologies for taking so long to respond.

[2022-08-26 13:57] #109 closed

[2022-08-26 20:16] Murmele commented on #109
Hmm strange. I am still able to reproduce it

[2022-08-26 20:35] Murmele commented on #243
Thanks I am able to reproduce

[2022-08-29 12:23] Murmele opened #256 "Segfault when "Filter by Path""
1) Open any git repository
2) Select path in the "Filter by Path" tool

Crash because index is out of range

![grafik](https://user-images.githubusercontent.com/10099533/187199829-e3d71688-50c5-4f4f-bb76-79a07b4b17cc.png)

`Gittyup v1.1.1 - Dienstag, 23. August 2022 - 1d6423`

[2022-08-30 09:40] anzvanie opened #258 "Cannot open Terminal on Macbook Apple Silicon"
When click to button `Open Terminal` I got the below message

I've tried running `osascript` command (found from source code) for get candidate in MacOS terminal but got an error message

[code]

My PC is Macbook Pro M1, and os version is 12.5

[2022-08-31 08:32] ftaiolivista opened #259 "arch aur build broken"
The build have success but launching give

Theme dir:  QDir( "/home/vista/.cache/yay/gittyup/src/build/Resources" , nameFilters = { "*" },  QDir::SortFlags( Name | IgnoreCase ) , QDir::Filters( Dirs|Files|Drives|AllEntries ) )
Theme dir:  QDir( "/home/vista/.cache/yay/gittyup/src/build/Resources" , nameFilters = { "*" },  QDir::SortFlags( Name | IgnoreCase ) , QDir::Filters( Dirs|Files|Drives|AllE

[2022-08-31 08:44] alerque commented on #259
I'm the author of the AUR package, but the real problem is upstream and already know. In fact the author was working on a fix, but it hasn't gotten merged yet.

See #191.

[2022-08-31 19:50] exactly-one-kas commented on #259
Closing as duplicate of #217

[2022-08-31 19:50] #259 closed

[2022-08-31 19:52] exactly-one-kas commented on #258
We currently have no developer with macOS so we're flying blind

Does it work using `osascript -e "tell application Finder to get application file id \"com.apple.Terminal\""`?

[2022-09-01 05:31] Murmele commented on #243
strange. It happens only in the flatpak version
[code]

[2022-09-01 05:39] Murmele commented on #126
@OdinVex can you try the latest version?

[2022-09-01 05:40] Murmele commented on #243
@exactly-one-kas Do you know how to get the logs? I think on windows just the assert is missing and therefore it does not crash. But the "Collapse all/Expand" all button is wrong.

[2022-09-01 06:20] #243 closed

[2022-09-01 08:10] alex-ball commented on #258
No, that gives the same error.

However, this definitely does something (M1 chip, OS v12.5.1):

[code]

This triggers a permission confirmation and returns

[code]

[2022-09-01 09:40] alex-ball opened #261 "Git hooks are not triggered on commit (flatpak)"
I am running Gittyup v1.1.2 on Ubuntu 20.04 via flatpak.

**Expected behaviour:**
In a Git repo with executable files at `.git/hooks/pre-commit` and `.git/hooks/post-commit`, committing some changes should run those two scripts immediately before and after the commit, respectively.

**Actual behaviour:**
The commit succeeds but the two files do not execute.

I'm afraid I don't know enough about th

[2022-09-01 13:22] OdinVex commented on #126
@Murmele, com.github.Murmele.Gittyup v1.1.2 stable, still occurs. Using Mint 21 at the moment.

[2022-09-01 13:27] OdinVex commented on #126
Fixed by #260, closing.

[2022-09-01 13:27] #126 closed

[2022-09-01 14:13] exactly-one-kas commented on #258
A permission confirmation doesn't sound ideal, I tried using the macOS API directly. Can you try the following build?

https://github.com/exactly-one-kas/Gittyup/actions/runs/2972101328
https://github.com/exactly-one-kas/Gittyup/suites/8090060580/artifacts/349266256

[2022-09-01 14:46] alex-ball commented on #258
The permission confirmation was from running that command within Terminal; having accepted it once I'm not getting it again.

The experimental build still gives the "No terminal executable was found. Please configure a terminal in the configuration." message.

In the configuration, the Terminal tab defaults to name=ga, location=/usr/local/bin (Google Authenticator?). I have tried it with these val

[2022-09-01 15:48] exactly-one-kas commented on #258
The Terminal tab was used for putting GitAhead into `$PATH` (hence `ga`), but this will be removed with the next full release.

You can set the terminal command in the Tools tab:
![image](https://user-images.githubusercontent.com/16035731/187956781-992237ff-8354-4ef7-bab0-b47ba72b7c59.png)

[2022-09-01 16:30] alex-ball commented on #258
Ah, okay, that makes more sense. Thanks!

I've now tried setting Terminal emulator command=`open -b com.apple.Terminal .`; with this in place,

- in the experimental build , the "Open Terminal" button still results in the same popup message;
- in the production build v1.1.2, the "Open Terminal" button works as expected.

Looking at the UI, I think I would have expected to use `"%1"` (which doesn't

[2022-09-01 22:49] leoplaw commented on #230
The issue appears to be fixed in latest version:  v1.1.2 - 2022-08-12

[2022-09-01 22:49] #230 closed

[2022-09-02 02:38] anzvanie commented on #258
@exactly-one-kas @alex-ball Thanks for you solution, working for me on v1.1.2.

[2022-09-02 14:59] DeeFuse opened #263 "Discarding changes in a repository will remove unstaged changes in submodule / reset submodule"
I've noticed that Gittyup 1.1.2 will reset all unstaged changes in a submodule when you run 'Discard changes' in the parent repository.
The filename can be different, multiple files will be reset as well. It will even revert the commit of the submodule to the one you last had checked out in the main repository.

Steps to reproduce:

- Clone my test reposiotry `git clone --recursive https://github.

[2022-09-02 15:59] #247 closed

[2022-09-02 15:59] #248 closed

[2022-09-03 01:50] lonix1 opened #264 "[Feature Request] linux binaries"
For those not using flatpack/snap/etc (i.e. most) it would be nice to have an alternative installation mechanism.

You can't support dozens of package managers, so even just the binaries (deb / rpm) in the releases page would be great. There are already binaries for windows/macos, so would be appreciated for linux too.

Thanks for continuing gitahead - I look forward to trying this out.

[2022-09-04 03:52] lonix1 opened #265 "Amend feature mislabeled"
i just used the amend feature, and to my horror it actually performed a (soft, I think) reset. Took a while to realise what happened. Luckily I didn't lose anything (I don't think so anyway, I hope!).

The amend should "amend" the previous commit, not reset it.

Related: https://github.com/Murmele/Gittyup/issues/94

[2022-09-05 01:52] #258 closed

[2022-09-05 08:23] alex-ball commented on #258
There is still an issue that the code to autodetect Terminal on MacOS isn't currently working, but I suppose that is a more specific bug.

[2022-09-05 10:08] exactly-one-kas opened #267 "Default terminal cannot be successfully determined on macOS"
See #258

[2022-09-05 12:24] long76 commented on #264
dublicate https://github.com/Murmele/Gittyup/issues/198

[2022-09-06 05:09] exactly-one-kas commented on #261
Currently, only the `pre-push` hook is supported, although I'm not sure if this works with flatpak.
@Murmele do you know if flatpak needs additional permissions to execute programs outside its sandbox even if they're within opened directories?

[2022-09-06 05:12] exactly-one-kas commented on #261
Also, the `pre-push` requires bash for some reason? I think this restriction should be lifted

[2022-09-06 05:15] exactly-one-kas commented on #98
Closing this since #201 has been merged

[2022-09-06 05:15] #98 closed

[2022-09-06 05:30] exactly-one-kas commented on #91
@stingray21 Is this issue still occurring with the current pre-release version? I can't reproduce this on my machine (64-Bit Arch Linux btw, Xorg, pre-release version)

[2022-09-06 05:36] stingray21 commented on #91
I don't think so, it's working for me as well 😃

[2022-09-06 06:54] Murmele commented on #261
currently for the merge commands we are leaving the flatpak sandbox.
there we are using `flatpak-spawn --host sh -c "<command>"` to execute a command on the host system. It works withouth any additional permissions

[2022-09-06 07:38] rebeccasodergren commented on #126
@OdinVex Inga problem! :smile_cat:

[2022-09-06 08:13] #91 closed

[2022-09-07 07:30] anzvanie opened #269 "File list was disappear on MacOS"
I don't remember exact which setting I've changed but the list of commit files was disappear in my PC

![image](https://user-images.githubusercontent.com/23414865/188816193-7d76ea99-b6be-403e-b500-2c64173e1192.png)

I can using up/down arrow for traverse on file list but can see it.

[2022-09-07 07:50] Murmele commented on #269
The listview is a dockwidget. It is on the right side. Hover the border and the list mouse will convert into arrows. Than just press and move to the left. Then they should appear again

[2022-09-07 07:51] Murmele commented on #269
Might be a good first issue to implement a button like for hiding the logs. So it can be easily hidden or not

[2022-09-07 08:33] anzvanie commented on #269
@Murmele thanks for your instruction but it does't work for me.
I've reset Gittyup setting manually by the following steps

1. Close all Gittyup windows

2. Delete all Qt setting files in the `~/Library` directory
  * `~/Library/Preferences/com.Murmele.Gittyup.plist`
  * `~/Library/Preferences/com.github.gittyup.Gittyup.plist`

3. Clear preferences cache using command `killall -u $USER cfprefsd`

[2022-09-07 08:57] exactly-one-kas commented on #269
Also of note: At least on Windows, the widget's grab area is just one pixel wide, so it's really only feasible to resize the file list back with a maximized window so one can reliably grab it

[2022-09-15 11:55] TheArcaneBrony commented on #217
Is there any reason why it would be calling lua files from the build directory rather then an installed location in the first place?

[2022-09-19 09:17] Murmele commented on #265
![grafik](https://user-images.githubusercontent.com/10099533/190986660-644d72ed-2490-4c40-ac13-63a4e249a893.png)

Yes it is implemented as soft reset

[2022-09-19 09:20] Murmele commented on #265
![grafik](https://user-images.githubusercontent.com/10099533/190987126-9996dccd-cef9-45d9-93ea-979a7698b953.png)

[2022-09-19 09:25] Murmele commented on #265
We can implement a dialog with author committer, message, ... listed there and the user can modify the values and then click on "amend" to apply the changes.

[2022-09-19 09:25] Murmele commented on #94
We can implement a dialog with author committer, message, ... listed there and the user can modify the values and then click on "amend" to apply the changes.

[2022-09-19 17:18] SergeDorna-Philips opened #275 "Is the External Diff feature removed from Gittyup when forking GitAhead?"
I'm evaluating switching over from GitAhead to Gittyup but launching the external diff.

Previously in GitAhead you could right click on a change and select "External Diff" which would launch what was configured in the options under ``Tools / External diff``.

In Gittyup, You need to select a file, then right click in the diff to get the menu with the external diff option.

Can the same menu be ad

[2022-09-20 00:22] Kazbayadum commented on #241
First of all, thank you very much for your great effort in the development and continuation of this project. :1st_place_medal:

I am sorry, but two days ago, I tried to compile from the source code in different branches of this repository and the kas repository. I'm using linux. I have to say that I couldn't find the expected "use ours / use theirs" buttons. :(

I'm not sure what happens at this p

[2022-09-20 07:12] Murmele commented on #241
I am able to reproduce it in `Gittyup v1.1.1 - Montag, 19. September 2022 - 0dca6ab`
[GittyupBinaryMergeConflict.zip](https://github.com/Murmele/Gittyup/files/9604969/GittyupBinaryMergeConflict.zip)

[2022-09-20 07:19] Murmele commented on #241
@exactly-one-kas I think I now the reason. It was because of my proposal:

![grafik](https://user-images.githubusercontent.com/10099533/191192442-1e0dfd0b-5931-4923-aaf7-1fceb9d3f0bc.png)

We allow it only if there are multiple multiple patches, but for a binary file we don't have multiple patches and therefore the buttons are not visible.

I think we need two unittests here

[2022-09-20 07:32] Murmele commented on #275
Hi @SergeDorna-Philips,

currently it is not implemented for the listview. There is an ongoing merge request, but I was not able to finish it yet.
![grafik](https://user-images.githubusercontent.com/10099533/191194964-21d22937-9cc0-41e3-a5a3-d5c872211c2e.png)

[2022-09-20 07:32] #275 closed

[2022-09-20 09:48] elman22 opened #276 "Gittyup always crashes after 30 seconds"
When I start Gittyup, it always crashes after some random time. I have seen for example 30, 45 or 56 seconds. I don't need to do anything, just start the program with no repo is selected. I have also tried with clean install and same thing happens. Log doesn't say much:

[code]

I'm using Arch Linux + Flatpak

[code]

Is there any way to enable more debug messages?

[2022-09-20 10:17] Kazbayadum commented on #241
I think it's easier to show the button allways if (isConflicted). Even if there is only one patch.

But, of course, it might be more elegant if (isConflicted && (hasMultipleHunks || isBinaryFile))

[2022-09-20 10:56] Murmele commented on #241
I think the clean way is checking if binary and I don't think it is a lot of work

[2022-09-20 12:01] Murmele commented on #241
Maybe it is one

[2022-09-20 18:57] exactly-one-kas opened #277 "Allow amending commit dates"

[2022-09-20 19:21] exactly-one-kas commented on #241
IIRC I think it should be zero, since all hunks get a widget
We could also change to `auto hasOneHunk = patch.count() == 1` which would even work with weird text files lol

[2022-09-21 06:07] Murmele commented on #241
You are right haha ^^ Can you try it? Above there is a test repo with a zip file and if you do a merge there you have a binary merge conflict

[2022-09-21 06:13] Murmele commented on #276
normaly I run it as flatpak run com.github.Murmele.Gittyup

You should get more information then.
Is it just for one repository or for multiple. I'm using Manjaro (Arch based) and I don't see any issues. So we have to compare our setup

[2022-09-21 07:31] elman22 commented on #276
Hi. Thanks for advice. Running `flatpak run com.github.Murmele.Gittyup` didn't help. Gittyup still crashes and I get the same messages as before. Executable `com.github.Murmele.Gittyup` is flatpak export, so should work the same.

[code]

I also tried AUR package, but there's something wrong with it because when launched, it searches for Lua API in my build folder which doesn't exist after the bui

[2022-09-21 07:44] Murmele commented on #276
Yes currently the AUR package is not working yet. There is a pullrequest pending.

[2022-09-21 07:45] Murmele commented on #276
Which desktop environment are you using? Gnome, KDE, ...?

[2022-09-21 07:57] elman22 commented on #276
I have managed to fix PKGBUILD to install version 1.1.2 and so far it works fine.
I use KDE Plasma.

[2022-09-21 23:39] Murmele commented on #276
Ah cool thanks. You can create a pullrequest then we can merge the changes here

[2022-09-21 23:41] Murmele commented on #217
@elman22 got the Aur package to work.

[2022-09-22 10:46] hofq commented on #217
I had no Build Error, but after the Build the Software wouldn't run and through the Same Error:
`Warning: Ignoring XDG_SESSION_TYPE=wayland on Gnome. Use QT_QPA_PLATFORM=wayland to run on Wayland anyway.
Theme dir:  QDir( "/home/jki/.cache/paru/clone/gittyup/src/build/Resources" , nameFilters = { "*" },  QDir::SortFlags( Name | IgnoreCase ) , QDir::Filters( Dirs|Files|Drives|AllEntries ) )
Theme d

[2022-09-22 11:58] Murmele commented on #217
Ah ok I thought you got it completely run. Sorry then for disturbing

[2022-09-22 12:36] hofq commented on #217
i use flatpak now :)

[2022-09-22 12:49] Murmele commented on #217
haha ^^.

[2022-09-22 12:50] Murmele commented on #217
He was able to get it running

[2022-09-23 09:43] Kazbayadum commented on #241
Hello :)

Sorry, but I'm not sure if you are talking to me, or talking one to each other. I think you were talking to me.

Yesterday I cloned this repo and the kas repo, but I didn't find the branch with this correction. So, I'm afraid I need a more specific indication. I'm sorry but I'm a bit newbie working with branches and repos.

:D

[2022-09-23 10:18] Murmele commented on #241
No sorry I just wrote to kas

[2022-09-23 11:29] exactly-one-kas commented on #241
![image](https://user-images.githubusercontent.com/16035731/191950937-14da794e-83f1-4c8b-86ee-8b2bc310064b.png)
It works

[2022-09-23 12:06] Murmele commented on #241
Sounds sou strange in german ^^

[2022-09-23 12:43] Murmele opened #279 "Git submodule clone does not init submodules"
Maybe adding option to automatically initializing the submodule

[2022-09-23 12:45] Murmele commented on #263
I can confirm this and it is not because of the same name.

[2022-09-23 13:21] exactly-one-kas commented on #241
Yeah the translations were implemented after all English texts were in place, but those are being generated from parts in lots of places so quite a lot of translations are pretty clunky

If I had a lot of time on hand I could rework all that so that all translation calls use full sentences, but that also means either redoing all translations (I can only provide German and barely some Dutch lol) or

[2022-09-23 13:26] exactly-one-kas commented on #240
This will be fixed with version 1.2.0
Since the installation via homebrew ist just a wrapper for the DMG file, this should work fine

[2022-09-23 13:26] #240 closed

[2022-09-24 05:58] Murmele commented on #276
It is strange that you don't get that much debug output. When I open Gittyup and then a repository I get additional output

[2022-09-24 13:09] elman22 commented on #217
When building directly from AUR, I got the same error as @hofq. But then I tried to edit PKGBUILD using patch by patlefort from https://aur.archlinux.org/packages/gittyup#comment-872036, changed version to 1.1.2 and it is working now.

[2022-09-24 16:51] elman22 commented on #276
It crashes even with no repo opened. If I open repo, I see more debug output, but I didn't think it was relevant.

However I tried Gittyup on my second computer which has Manjaro and it's working without any problems. So must be something with Arch or my Arch config.

[2022-09-24 18:41] H-4ND-H commented on #277
Hello, tnx for all the great work, I want to contribute to the project, if no one is working on this issue, I guess its a good starting point.

[2022-09-24 19:27] exactly-one-kas commented on #277
Hello, thank you for the nice words and the effort! I'd recommend starting on the `Amend` branch (currently at commit `df37b3d8e7fb32764d4499529996ddc04908df76`)

[2022-09-25 05:43] Murmele commented on #276
Maybe a qt issue?

[2022-09-25 06:24] Murmele opened #282 "Deleting image preview looks strange"
![image](https://user-images.githubusercontent.com/10099533/192131106-77bbcb52-341e-4cb2-afbf-8264a0d94037.png)

https://github.com/Murmele/Gittyup/pull/146

maybe we can show instead of the new one a trash can?

[2022-09-25 07:35] Murmele commented on #263
The problem is that if no submodule is selected. In RepoView the submodules of the repo are used which is wrong

[2022-09-25 07:51] Murmele commented on #261
It depends on what is written in the script. If some host commands are used then it will not work. If just common commands are used I have to check

[2022-09-25 08:03] Murmele commented on #261
@exactly-one-kas how it behaves without sandbox? Do I have to do chmod +x first on those files, or is git able to execute them without?

[2022-09-25 08:05] Murmele commented on #258
The problem here is that nobody has a mac and investigating using a virtual box was at least for me a mess. If you could provide as a solution that would be nice

[2022-09-25 08:36] exactly-one-kas commented on #261
Git calls them as executables and requires the executable bit to be set, so I'd say we should use `flatpack-spawn --host "<path to hook>"`

[2022-09-25 09:23] Murmele commented on #261
yes I think that makes it easier. The question is are we then going around some sandboxing features?

[2022-09-25 09:57] exactly-one-kas commented on #261
Since we're running arbitrary scripts on the host, I'd say yes. Can we run them inside the sandbox or is that prevented?

[2022-09-25 12:26] #279 closed

[2022-09-25 12:26] #263 closed

[2022-09-25 12:28] Murmele opened #284 "Rebase: Not showing progress during rebase action"
The logs show up after the rebase is finished but not during.

[code]

[2022-09-25 12:35] Murmele commented on #284
probably broken because of #206

[2022-09-25 13:56] Murmele commented on #261
I think that should be also possible.

[2022-09-26 06:52] #284 closed

[2022-09-26 19:39] alex-ball commented on #258
I was a bit concerned I might have to learn C and the inner workings of the Mac, but happily this is not the case. I have just successfully compiled the app on macOS, and it seems all the clues are in this thread.

I have put the changes in PR #288.

[2022-09-26 20:35] #267 closed

[2022-09-27 08:33] MisterY opened #290 "Fetch constantly prompts for credentials"
I'm using a Git repository hosted on Azure. The Git CLI uses Git Credential Manager to authenticate using MFA. This makes fetch/pull/push operations succeed in the terminal.

Trying to fetch in Gittyup, the credentials window pops up every time a remote operation is attempted. Could this somehow recognize the credential manager that is set up in the Git global configuration ( `git config --global

[2022-09-27 10:23] exactly-one-kas commented on #290
I think it would generally make sense to see if `credential.helper` is set and if so, use that to authenticate, making the current hardcoded options a fallback

@Murmele does this sound good to you?

[2022-09-27 10:28] exactly-one-kas commented on #282
This doesn't happen for me on Windows for some reason
![image](https://user-images.githubusercontent.com/16035731/192502238-68a55157-7c2e-483d-98e2-7fac4873f630.png)

[2022-09-27 10:34] elman22 commented on #276
I'm using Manjaro Unstable, so I have exactly the same Qt versions. Difference is that Manjaro uses X11 and Arch uses Wayland.

Anyway I just stumbled upon message in journalctl:

[code]

This may be the problem since I assume that flatpak uses portal and AUR package not.

[2022-09-27 11:52] Murmele commented on #290
Yes of course makes sense instead of hardcoded

[2022-09-27 11:55] Murmele commented on #276
Can you try to set the Qt platform plugin?

[2022-09-27 11:56] MisterY commented on #290
FYI, by checking this topic, I've found a keepassxc credentials provider for git (https://github.com/Frederick888/git-credential-keepassxc) and thought it might be worth sharing for those who use KeePass and git.
Hence, relying on existing external credentials providers would help immensely by offloading that part to specialized components completely.

[2022-09-29 20:28] Murmele opened #291 "Master build broken"
My submodule unittest fails

[2022-09-29 20:43] Murmele commented on #291
Because testrepo was deleted

[2022-09-29 20:45] Akselmo commented on #221
Hi, I'm interested in this feature and maybe could try my hand at implementing it.

However, could the feature at first be just the signing process itself? Users could create the keys/signatures with other tools.

[2022-09-30 02:57] safield opened #293 "Error 'ERROR: You're using an RSA key with SHA-1' when trying to push to remote."
[code]
Recieved this error when trying to push to remote in Gittyup. Opened the same repo in other git clients and the repo pushes fine.

[2022-09-30 06:10] exactly-one-kas commented on #221
Yes, just the signing would work
I'd say we simply require GPG to be installed and spawn `gpg --detach-sign --armor --local-user <committer email>` to create the signature

[2022-09-30 06:15] exactly-one-kas commented on #293
This is a known issue which will be fixed with the 1.2.0 release (coming soon™)
In the meantime, you can try the [current pre-release](https://github.com/Murmele/Gittyup/releases/tag/latest)

[2022-09-30 08:03] #291 closed

[2022-09-30 09:16] Akselmo commented on #221
I was thinking a following plan:
- [ ] If signing is enabled in repo, use gpg to sign it
- [ ] Set gpg path in settings

But should the user be told somewhere that signing is enabled in the repository?

[2022-09-30 09:29] exactly-one-kas commented on #221
Sounds good
Is `commit.gpgsign` the option to sign stuff? If so, putting that as a checkbox into the repository settings seems like a good idea
Also, using the commiter's email should probably be a fallback if `user.signingkey` is unset

[2022-10-01 09:35] 0verEngineer opened #294 "Crashes after wrong Gitlab / Github credentials"
If i try to add an Account in Gittyup for Gitlab or Github with non-working credentials a MessageBox "Host requires authentication" is shown. However after clicking the MessageBox away Gittyup crashes.

[2022-10-01 22:04] 0verEngineer commented on #294
It does not happen on the current master branch, but on the latest Flatpak.

[2022-10-02 07:36] exactly-one-kas commented on #294
This has been solved with #201 and will be included in the 1.2.0 release (see #272, coming soon™)

[2022-10-02 09:32] #294 closed

[2022-10-02 16:42] Murmele commented on #213
@erickod @OverEngineer created a pullrequest for it to fix it. We will get it soon

[2022-10-07 08:17] exactly-one-kas commented on #213
This feature will be available in the upcoming 1.2.0 release

[2022-10-07 08:17] #213 closed

[2022-10-07 08:34] exactly-one-kas commented on #166
There's already a menu item for that: "Update all submodules"
Or is this for doing this step automatically? If so, I think this behavior should be opt-in since the GIT CLI also has this as separate steps

[2022-10-07 08:36] Murmele commented on #166
Maybe we can add an option like for pull and clone?
![image](https://user-images.githubusercontent.com/10099533/194510539-be14cabb-2df0-49e3-972e-0018a4c7ba9a.png)

[2022-10-07 08:39] exactly-one-kas commented on #166
Yep, that's the idea

[2022-10-07 08:45] exactly-one-kas commented on #92
That's available in the double-tree view by using the `Blame` button
![image](https://user-images.githubusercontent.com/16035731/194512153-5a7f97dc-5aa0-483c-8c41-8b69196762aa.png)
It doesn't allow for a pop-out / pop-up window with the file content though (yet)

[2022-10-07 08:47] exactly-one-kas commented on #92
We do have an option to open the file at the commit's version with the default program for the file
![image](https://user-images.githubusercontent.com/16035731/194512747-b9edc9f3-bc96-4eca-b0db-9da9868a6131.png)

[2022-10-07 08:51] exactly-one-kas commented on #92
And opening in the built-in editor is possible as well
![image](https://user-images.githubusercontent.com/16035731/194513185-7525e4dd-f84d-4998-a107-a3f1ee8f0adb.png)

[2022-10-07 08:51] exactly-one-kas commented on #92
@Minabsapi Does this work for you?

[2022-10-07 09:13] Murmele commented on #166
I think we can move this to 1.3 because it is not that important

[2022-10-07 11:37] exactly-one-kas opened #299 "Implement directory argument replacement for terminal emulator command as well"
Having `%1` only work for the file manager command is confusing

Discussed in #254

[2022-10-07 12:31] exactly-one-kas commented on #46
Since there's been no activity here for quite some time, I'll close this

[2022-10-07 12:31] #46 closed

[2022-10-07 20:25] mohamad1350449fa commented on #299
h

[2022-10-08 13:46] #8 closed

[2022-10-10 11:59] H-4ND-H commented on #290
I would like to work on this, if its not currently taken.

[2022-10-10 16:33] #94 closed

[2022-10-10 16:33] #265 closed

[2022-10-10 16:33] #277 closed

[2022-10-10 20:09] Minabsapi commented on #92
This does the trick, especially the second option which is immediately more accessible (might be only me, but my first reflex for bringing additional file options was to right click not the file path header / separation element, but instead the file name in the committed file list). Thank you!

[2022-10-11 16:20] H-4ND-H commented on #290
@Murmele Is there any document for project coding style, I see some inconsistent naming here and there regarding naming private vars i.e `mVar` or `m_var` I want to follow the project  standard.

[2022-10-11 18:24] Murmele commented on #290
@H-4ND-H I am using mostly mVar, but I am not sure if everybody is doing it. At least it will not be complained about. It is the same for single line ifs. I used most of the time without brackets, but of @exactly-one-kas pointed to an apple issue where this leaded to problems. @exactly-one-kas do you have any recommandations. The problem I see is that we need then also an automatic check.
But I do

[2022-10-11 18:45] exactly-one-kas commented on #290
Personally, I'd just lose the prefix, since there's also no prefix for private methods or protected members

Automatic checks for that would probably be overkill since `m` as a prefix has valid uses. But I'd be in favor of making all variable names consistent (but that would be a metric fuckton of work with little impact, so we probably won't do it 🙈)

[2022-10-12 05:49] Murmele commented on #290
Yes I think so. The m prefix is perfect, because then in an IDE the automatic proposals are working great, but forcing it is really an overkill. I checked the latest merge requests and there `mVar` is used, also the rest of the code uses it mostly. So I think you should go with this convention

[2022-10-12 09:14] dekomorii opened #303 "Opening big binary files crashes app"
Please fix by adding option by skipping big binary files in editor, just add them as files not read them, thanks!

[2022-10-12 09:46] exactly-one-kas commented on #303
How big are the files you're talking about?

[2022-10-12 12:24] Kazbayadum opened #304 "Identifying the colors of the branches"
Hello

You have done a great job with GittyUp and I would like to help improve it a bit. I have an “easy” feature that might be useful to better understand the branches.

Gittyup uses to paint the branches tree with some random colors, I'm not sure with what criteria. I think it's based on merges and commits. It’s not easy to link every color with every branch ti understand the meaning of the bran

[2022-10-12 12:30] Kazbayadum opened #305 "Change automic phrase for merge"
Hello

This may be a minor suggestion, but I would find it interesting if you would change the default phrase that is created when merging.

The phrase automatically puts
Merged branch 'nameBranch1'

I think it would be more interesting to put
Merged branch 'nameBranch1' into 'nameBranch2'

Thank you for your attention.

[2022-10-12 14:22] Murmele commented on #141
[GittyupRefresh.txt](https://github.com/Murmele/Gittyup/files/9765770/GittyupRefresh.txt)

@exactly-one-kas I updated the image. We have to get rid of 1-4 somehow or do you think we have any issues with it?

![GittyupRefresh txt drawio](https://user-images.githubusercontent.com/10099533/195368620-52c75ed8-7089-4ad5-bd88-8b24136ab7b6.png)

[2022-10-12 14:50] Murmele commented on #141
I can try. what happens then. I would like to fix the root cause, it makes it then also much clearer

[2022-10-12 15:17] dekomorii opened #307 "Question or bug? I can't find any button to expand right pane of the committed files"
I closed the right pane accidentally where committed files are located and I've been trying to find a button that expands it like how the repo sidebar is expand with a button

[2022-10-12 20:54] Akselmo commented on #221
Hey just an update, im still interested working on the feature, i just havent had the time yet due to getting a new job and life is busy.

I will get on this ASAP, but if someone else has more time than I do, im not stopping you :)

[2022-10-13 05:23] exactly-one-kas commented on #221
Don't worry, take your time
Your life should take priority over volunteer work

[2022-10-13 10:07] exactly-one-kas commented on #307
You can "resize" it back, there's a 2 pixel wide area at the right border of the window where your cursor should indicate that you can resize the area. You can maximize the window on the rightmost screen to have an easier time doing that

[2022-10-13 10:08] exactly-one-kas commented on #307
Closing as a duplicate of #269

[2022-10-13 10:08] #307 closed

[2022-10-13 10:10] exactly-one-kas opened #309 ""New branch" dialog offers "stash" as starting point"
![image](https://user-images.githubusercontent.com/16035731/195567615-edc90a60-e0a9-44be-8e82-4d16cfcea240.png)

@Murmele can we just remove the dropdown when "new branch" has been selected from the commit context menu?

[2022-10-13 11:17] Murmele commented on #309
You mean showing just
- a label from the **commitlist context menu**
- and the combobox if selected from the **menu bar**?

[2022-10-13 12:03] exactly-one-kas commented on #309
Exactly

[2022-10-13 17:10] Murmele opened #310 "CommitList: Do not resetReference if only one file changed"
Currently when file in workdir will be changed, the reference gets reset and everything will be set up newley.

Maybe considering changing only the changed file

- Filewidget
- Hunkwidget
- CommitList (dirty workdir or not)
- DoubleTreeWidget

[0001-Initial-commit-to-update-only-modified-files.patch](https://github.com/Murmele/Gittyup/files/9779021/0001-Initial-commit-to-update-only-modified-files

[2022-10-14 07:38] alensiljak opened #311 "Font too small in Windows"
Thanks again for the great tool. While using it, I have noticed that the small font size used in the interface is causing too much eye strain. I've compared, for example, the menu size to a few other apps, i.e.:

![image](https://user-images.githubusercontent.com/462445/195789797-867a64ed-9b48-4eb1-bde6-f7a23772d329.png)

Could this be increased to a comfortable size, please?
I see in the screensh

[2022-10-14 08:15] exactly-one-kas commented on #311
![image](https://user-images.githubusercontent.com/16035731/195795790-1403c788-46ea-4a64-9774-8cacc7ff58bf.png)

I can't reproduce this with Windows 10 and Windows 11, all menu bars and font sizes are correct

You can however create a new theme from the current one and set a custom font size
![image](https://user-images.githubusercontent.com/16035731/195796748-bec8df0b-3937-4a68-af4d-be73d983c62f.

[2022-10-14 10:21] alensiljak commented on #311
Thanks for the feedback! I see what's going on now.
Since the laptop has a HD display, it is set to the recommended scaling of 125% (System > Display > Scale).
The other apps resize the fonts appropriately but Gittyup stays at the default value.

[2022-10-14 10:23] alensiljak commented on #311
As a workaround, yes, this also works. Thank you!

[2022-10-14 14:52] Murmele commented on #309
Oh this is really anoying, sorry I did not understand previously completely the issue. We have to fix it for v1.2.0

[2022-10-14 16:16] Murmele commented on #309
I have a fix for it

[2022-10-15 21:00] OdinVex commented on #64
I use Gitea, so I'm looking at the code to determine what will need to be added or extended. I've already implemented the entire UI relating to Gitea's authentication, the only thing left is the backend communication (learning how Gitea can be interfaced).

[2022-10-16 15:12] OdinVex commented on #64
Fixed by Pull Request #313.

[2022-10-16 16:05] exactly-one-kas opened #315 "Remote account handling overhaul"
The remote account feature currently only supports pre-filling the URL for the clone dialog
There is an undocumented way to enable a PR button in the toolbar that probably only works with GitHub

Here's a list of suggestions:
- Allow for searching and paginating / stepping through the user's and their organization's repositories
  - As suggested by #251, this should be grouped by the organization

[2022-10-16 16:07] #64 closed

[2022-10-16 16:16] OdinVex commented on #315
I love the idea of being able to see all of my repositories in the Sidebar, perhaps instead of doing away with them give people the option to toggle which ones are visible such as via a toolbar button. “Organization Repos” “Personal Repos”. I would definitely like grouping via Organization as well. Perhaps a Tree would be best for the sidebar, sorting by Organization (if enabled to view), with per

[2022-10-17 07:02] Murmele opened #316 "Adding Gitlab Account anymore visible"
![grafik](https://user-images.githubusercontent.com/10099533/196109750-0ad7eaa0-45a7-4790-86f5-f5de800473ea.png)

In the left pane ith shows the wrong icon it should be gitlab

Probably it come with #313

[2022-10-17 07:16] exactly-one-kas commented on #316
Ah, putting the `Gitea` item to the end of `Account::Kind` should do the tick I think.

[2022-10-17 07:31] Murmele commented on #316
But then there is still something wrong? Maybe somewhere numbers are used instead of the enum and therefore it comes to this issue?

[2022-10-17 07:45] exactly-one-kas commented on #316
I'm already fixing that - the account type is being saved and loaded using the enum's numerical value, I'll switch to strings

[2022-10-17 08:02] Murmele commented on #316
But then we need also a compability check to prior 1.1.2

[2022-10-18 08:13] #309 closed

[2022-10-19 00:17] OdinVex opened #318 "[UI Intent Clarification] Number of Account-Types Shown"
https://github.com/Murmele/Gittyup/blob/13c18f545d02a26cca9fc78012a0dc0212a6eafc/src/ui/TabWidget.cpp#L86

The line above specifically limits the number of 'account types' (kinds) that can be shown on the default Gittyup view, such as 'Add GitHub/Gitea/Bitbucket/Beanstalk...' Should there be a limit? Maybe increase it? GitLab is currently not shown (but only on this short list). If you attempt to

[2022-10-19 06:13] exactly-one-kas commented on #318
The limit should be increased in tandem with adding new account types (since it's an enum) - we forgot to do that here

[2022-10-19 08:20] Murmele commented on #318
Yes I thought there was something like this haha

[2022-10-19 08:23] #316 closed

[2022-10-19 08:23] #318 closed

[2022-10-19 13:55] Murmele opened #321 "Showing binary differences where git is able to create diff"
Instead of showing only the icon of the binary. For merges, just the image as below can be shown, because git is not able to resolve such conflicts

![grafik](https://user-images.githubusercontent.com/10099533/196710217-914cc5cb-d2ec-4987-b0e7-03fa76e84c66.png)

`Gittyup v1.1.1`

[2022-10-19 22:05] Murmele commented on #182
When accounts are available, the options to add a new account from the left pane is anymore possible. see changes in #319 close there the issue is found

[2022-10-19 22:05] #182 closed

[2022-10-19 23:14] edgato opened #322 "A way to reset the configurations to defaults or completely uninstall Gittyup (Windows)"
Right now configuration files are keep somewhere that I wasn't able to find and I wanted a fresh start

[2022-10-20 08:13] exactly-one-kas opened #323 "Remove comments from commit messages"
Especially with conflicts, the commit messages contain comments that should not show up in the final commit message

@Murmele Do we want to ignore all lines starting with `#` or just when they come from merges and rebases?
Ignoring all would be the same behavior as the CLI

[2022-10-20 10:40] H-4ND-H commented on #290
Hope u guys doing well, I was busy last week, so here is my take on this issue,
The problem with constant prompt for credentials is that Gittyup checks for availability of a store, rather than checking if git is using that particular store in `credential.helper`. So for example on my system I have `libsecret` but I use `store` as my git store, but the code selects `libsecret` just because it is av

[2022-10-20 22:27] Pictor13 opened #324 "[Feature request] Copy a tag/branch name"
Hi, sometimes I need to copy a tag or branch name, rather than copying the commit SHA.

At the moment I can see only the "Copy" button, that will copy the full SHA.
But I can't find any way to copy the name of a tag, or a branch name.

I don't think additional buttons are necessary; would be enough if the tags/branch names would be selectable text; or if there would be a context menu with an optio

[2022-10-21 09:00] #48 closed

[2022-10-21 09:49] Murmele opened #325 "Show discarded files by default"
![grafik](https://user-images.githubusercontent.com/10099533/197167323-ac885002-bb43-4c53-9b51-314457476b1c.png)

Maybe showing a list with all selected items, ...

I see this quite important therefore we should implement it for v1.2.0 Don't like to click always on the show details button.

- Single file selected
- Multiple files selected

[2022-10-21 10:05] Murmele commented on #324
Maybe we can make the Badges somehow selectable or implementing key press (Ctrl+C) for them.

[2022-10-21 12:41] #325 closed

[2022-10-22 14:14] #217 closed

[2022-10-22 16:52] alerque commented on #217
Many of the issues AUR builds were running into have been fixed in `master`, but they haven't landed in a stable release yet. I'll update the stable AUR package when there is a new release. I've also contacated the `-git` package maintainer with an offer to help get it updated. In the mean time if you're hankering for a build you can try [this PKGBUILD]().

[2022-10-22 17:23] Murmele commented on #217
@alerque this was the latest mr before the release mr. So it will not take that long anymore until the new release

[2022-10-22 20:20] alerque commented on #217
Cool beans!

I don't think we're quite far enough along cleaning up the 3rd party dependency scene to move it to [community] this release cycle, but #314 sure brought it a lot closer. In any event even if [community] is one more release cycle off we should be able to get a pretty stable easy to compile AUR build going for *this* cycle (and of course I host prebuilt versions of all my AUR packages)

[2022-10-26 23:07] OdinVex opened #331 "[Feature Request] Don't show Options button for Plugins without options"
I've been making a plugin that acts much like `Comments` except it won't have any options. It might help the UI to not bother showing an Options button (instead of creating the button and simply disabling it).

[2022-10-27 21:02] ppar opened #332 "[Feature request] Committer's profile picture / avatar is very prominent and can't be hidden"
This is basically a feature request, and although it would be frivolous to call it a bug, I personally find it's a UX blocker.

**Observed behaviour:**

For any selected commit, Gittyup shows the committer's (GitLab) profile picture in the upper right corner.

The organization I work with - like many commercial ones - expects a profile pic in their internal GitLab, and that picture needs to be a r

[2022-10-28 14:19] Murmele opened #334 "Deprecation warning in CI"
![grafik](https://user-images.githubusercontent.com/10099533/198639724-ef3a41d4-8f4d-4970-8ff8-8c4d9264a8f9.png)

[2022-10-28 14:38] Murmele opened #335 "Update download url"
Currently in Gittyup we are using the following download url: https://github.com/Murmele/gittyup/releases/download/stable/Gittyup%1%2.%3

The problem is that we don't have anymore a stable release.

As a hot fix I changed the label of the latest development release to be the "stable" it is the same as gittyup_v1.2.0 but this was a dirty fix.

We have to change it to:
https://github.com/Murmele/git

[2022-10-28 14:44] exactly-one-kas commented on #335
Changing the URL to `https://github.com/Murmele/Gittyup/releases/latest/download/Gittyup%1%2.%3` should suffice
![image](https://user-images.githubusercontent.com/16035731/198654292-10716290-f688-42ed-a817-0a794b1f20ee.png)

[2022-10-28 14:46] Murmele commented on #335
ok perfect then we can do this ^^. Neverthless we have to be carefull for the next release to create again a stable tag.

[2022-10-28 14:58] exactly-one-kas commented on #293
With 1.2.0 being released, this is now fixed in the stable version

[2022-10-28 14:58] #293 closed

[2022-10-28 15:07] alerque commented on #335
No, you shouldn't need that.

At most you need it to bail yourself out of the previous release updating to current because the old URLs were not a good scheme, but if you fix the URL as @exactly-one-kas shows above you will not need a "stable" tag the next time around.

[2022-10-28 15:23] exactly-one-kas commented on #335
We'll have to do it one last time, since the old URL is still present in 1.2.0

[2022-10-28 16:18] RichardFevrier opened #336 "[Feature request] Handle patch files"
Thank you for your work 🎉

Maybe I am wrong but I could not find a way to handle (create/apply) patch files in **Gittyup**.
Stuff like `git diff HEAD > filename.patch` & `git apply filename.patch`

[2022-10-29 02:43] Turburlar opened #337 "Error when installing with homebrew."
Macos version 12.6 with M1 cpu
Homebrew 3.6.7

[code]

[2022-10-29 06:14] exactly-one-kas commented on #337
We don't maintain the homebrew cask, but I created a PR there to fix a related issue: Homebrew/homebrew-cask#134640

[2022-10-29 06:14] #337 closed

[2022-10-29 12:43] RichardFevrier opened #338 "[Feature request] Remote selection at branch creation"
Currently at branch creation we can choose:
- a name
- if we want or not checkout to this new branch
- select upstream

But we dont have the possibility to choose the remote (if we have multiple), where to push this branch (and create it if it doesnt exist).
It would be a nice to have 🙂

[2022-10-29 13:46] RichardFevrier commented on #338
Never mind I found it from the `console`panel view on the bottom 🙂

[2022-10-29 13:46] #338 closed

[2022-10-29 14:09] RichardFevrier opened #339 "SSH permissions"
Using the Flatpak version of Gittyup, I am unable to push on a remote.
If I am using the command line `git push remote branch` I have no problem.
So I guess Gityup is unable to access to my SSH key agent or something related.

[2022-10-30 04:55] lonix1 opened #341 "[Feature request] Coloured items in unstaged/staged file lists"
Files in the staged / unstaged lists have labels "M", "D", "?", etc., and they are all in blue:
<img src=https://raw.githubusercontent.com/Murmele/Gittyup/master/rsrc/screenshots/double_treeview_single_line_staging.png />

Please consider changing the colours for those icons?

For example, here's a random screenshot I found showing how it's done in gitkraken:
<img src=https://www.codingwithcalvin.

[2022-10-30 11:02] RichardFevrier opened #342 "Unable to discard changes to conflicted files"
Currently the right click `Discard changes` on a file is greyed out when this file has conflicts pending resolve.
But `git checkout -- filename` is possible whatever the file state.

[2022-10-31 14:17] TheArcaneBrony opened #345 "[Feature request] Limited history view"
I would like to request to be able to limit the history view to x amount of commits or loading it paginated. One good example of why would be the linux kernel repository, as that currently causes Gittyup to hang due to commit count (>1M commits).

[2022-10-31 14:41] Murmele commented on #339
What SSH key agent are you using? I am using ssh for github and gitlab. I have my private key in /home/$USER/.ssh where do you have it?

[2022-11-01 07:20] Murmele opened #346 "Discard of submodules anymore possible"
With the new context menu discarding submodules is anymore possible. #302

[2022-11-01 08:09] Murmele commented on #341
![image](https://user-images.githubusercontent.com/10099533/199187846-3ef815f5-be5f-43af-9652-c0600bafe25c.png)

Not colorizing only M, A, D but also both:M, ...

[2022-11-01 12:39] Murmele opened #348 "Segmentation Fault when ignoring files"
Ignore files with the FileContextMenu

[code]

[code]

[2022-11-02 00:58] MikeCheel opened #350 "Window not remembering window size and position"
Every time I open the app the window is way too bug and doesn't remember the new position and size after closing. I have to use ALT + SPACE and the Move to get to the window handles.

[2022-11-02 12:04] b606 opened #351 "Fix default docDir to "docs" instead of "doc""
docDir was moved from "doc" to "docs"
See 26d3cfb401f9aaaa341bc240e6390eff1c6c92e2

[code]

[2022-11-02 17:15] ArkyonVeil opened #352 "Prompt the User at least once before signing commit"
So currently, if one decides to preform a commit, but there is no user set. The first commit is signed with a generated name/email.
While it is possible to amend it. (Thanks for the tip) It would be more practical to have a one time prompt pointing this out before doing so.

[2022-11-02 17:20] ArkyonVeil opened #353 "Adding Items to .gitignore on first launch/fresh repository crashes GittyUp"
So I started a fresh project, created a repository and while making the first commit I decided to add a few items to .gitignore so the repository remains clean. All 3 tries crashed Gittyup.

After making a single commit, and adding to .gitignore after that, it no longer crashed.

Occurred on 1.20

[2022-11-02 18:15] Murmele commented on #353
How did you ignore? Context menu from the treeview on the right?

Might be the same problem as in #349 .

[2022-11-02 19:42] ArkyonVeil commented on #353
Yep, right clicked the unstaged file and pressed ignore.

[2022-11-02 22:29] Murmele commented on #353
Ok. Patch is already ready :)

[2022-11-03 12:49] RichardFevrier commented on #339
I am using OpenSSH, my keys are in the same place as you, except that `/home` is a symlink to `/var/home` in my case.
I have checked in **Flatseal** and **Gittyup** has `socket=ssh-auth` enabled.
When I try to push with **Gittyup** a `ssh-agent` process is spawned `/usr/bin/ssh-agent -D -a /run/user/1000/keyring/.ssh`

[2022-11-03 18:07] RichardFevrier commented on #339
I finally found a solution [here](https://major.io/2022/08/05/use-gnome-keyring-with-sway/) for my **Fedora Silverblue**
By adding the `ssh` component for the `gnome-keyring-daemon.service`
Except that I had to not to `export SSH_AUTH_SOCK=/run/user/1000/keyring/ssh` otherwise it would not work

[2022-11-03 18:07] #339 closed

[2022-11-03 19:42] major commented on #339
Happy to help!

[2022-11-05 00:55] Akselmo commented on #221
`git_commit_create_with_signature` asks for `const char *commit_content` but the documentation doesn't mention what exactly is the content.

Is it `git_commit_body`?

[2022-11-05 03:04] asmwarrior opened #354 "Gittyup will automatically connect to the remote git repo?"
Hi, when my Gittyup get opened, my firewall will report the executable try to access some network, I checked the IP, and found that the IP is the remote git repo Ip address. In-fact, I don't have any command to do the remote access(git pull, git push), so I'm not sure why Gittyup will do that?

BTW: Gittyup is a nice tool, and has a lot of good feature. (I'm a long time gitextension user, but gite

[2022-11-09 09:18] gsardiscot4u opened #355 "Update to v1.2.0 failed on Windows for unable to close some windows"
I had my repo open.
The windows with suggested update appeared and I clicked on "Install Update".
The download started (very slowly the download) and after the 100% clicked on "Install and Restart" (at this moment I have the main window with my repository and the "Update Gittup window").
The window "Update failed" appears and after "Ok", nothing happen.

Can I send some telemetry or log? How?
I am

[2022-11-09 09:46] #348 closed

[2022-11-09 09:48] exactly-one-kas commented on #350
Which operating system are you using?

[2022-11-09 11:45] exactly-one-kas opened #356 "CI: Flatpak build can't clone submodules"
Waiting for flatpak/flatpak-github-actions#106

[2022-11-09 11:49] exactly-one-kas commented on #355
This is fixed in version 1.2.0, you'll have to manually download and install Gittyup one last time: https://github.com/Murmele/Gittyup/releases/download/gittyup_v1.2.0/Gittyup-win64-1.2.0.exe

[2022-11-09 11:49] #355 closed

[2022-11-09 11:50] exactly-one-kas commented on #199
This should be fixed with version 1.2.0, but you'll have to manually download and install the update

[2022-11-09 11:50] #199 closed

[2022-11-10 02:20] ruiznick commented on #216
@Murmele If I make a change in JetBrains Rider and switch to Gittyup the changes do appear to load reliably. But if I make changes in Unity and alter a scene file (.unity file extension) then Gittyup doesn't auto refresh.

[2022-11-10 07:28] Murmele commented on #216
We are using a Repositiory watcher to check if we have local changes. Currently we are ignoring all .* files / folders. This behaviour comes from GitAhead and we did not touch it yet.

`const QDir::Filters kFilters = (QDir::Dirs | QDir::NoDotAndDotDot);` in RepositoryWatcher_linux.cpp on mac and windows it looks different.

Even for branch changes we don't detect them for this we would have to wat

[2022-11-10 08:37] Murmele commented on #141
The problem is that a few times the diff is invalid and then valid again, so it is not easy to find out when to update and when not. Lucily we are using refresh quite often in the unittests. Therefore it will be tested quite well :) (Currently in my branch a few tests are failing, I have to check)

[2022-11-10 09:10] Murmele commented on #352
You mean if no username/email is set in .gitconfig (Also visible in the "General" tab of the application settings?

[2022-11-10 09:11] Murmele commented on #353
This is now in the latest development version

[2022-11-10 09:11] #353 closed

[2022-11-10 09:46] Murmele commented on #351
On windows it works nevertless so that means dir = confDir() is called. The files are copied to the confDir() folder on unix and on windows
app/CMakeLists.txt:
[code]
--> If we change the foldername it does not have an impact, because "docs" does not exist on windows and unix and therfore always confDir() is used.

So the clean way would be to use here confDir() always for windows and unix

I have

[2022-11-10 09:48] Murmele opened #358 "Fix warnings in CI output"
![grafik](https://user-images.githubusercontent.com/10099533/201057565-89e4b7b9-aaaa-493c-9282-084427384f0b.png)

[2022-11-11 01:35] leopthurler opened #360 "Don't show changes and can't pull - file path too long"
Hello,

I'm facing some problems to use Gittyup with one of our projects. The Gittyup don't detect my file changes, don't show pull status and don't show commit options in this project.

![vGps7D1](https://user-images.githubusercontent.com/70706333/201240540-01c376a8-e047-45ed-b53b-8fbb04c584df.png)
Project on Gittyup.

![731XFw3](https://user-images.githubusercontent.com/70706333/201242739-635503

[2022-11-11 02:10] ruiznick commented on #216
I should clarify, I meant Filename.unity files and not dot files.

[2022-11-11 09:37] Murmele commented on #216
hmm ok then it is a bug ^^

[2022-11-12 07:26] lonix1 opened #362 "Can't revert deleted changes"
Repro:
- create file, stage, commit
- edit file: remove all contents
- go to gittyup, click file: all contents are red because they were removed
- click "x" ("Discard hunk")
- gittyup crashes

What is expected: when "discarding deleted changes", those changes should be "added" back to the file. (Sort of like a reset, for that hunk.)

[2022-11-13 16:07] Murmele commented on #362
Hi @lonix1 which version are you using and which os?

Can you run Gittyup in console and provide the log output?

[2022-11-14 21:48] Kevin-Prichard commented on #315
Please add: ability to handle multiple accounts.  If there is an existing option, or way of using Gittyup, I haven't found it yet.  I have multiple accounts on GH, and other servers as well.

[2022-11-15 09:29] 0verEngineer opened #365 "Crashes when merging changes"
I use the Flatpak with version v1.2.0.
Lately i discovered crashes everytime i try to merge the remote master into my local branch when i am using the `Use Ours / Use Theirs` Buttons and then after pressing the `Save` Button it crashes.

Here is the log that is being printed after pressing the `Save` Button:

[code]

[2022-11-15 11:12] exactly-one-kas commented on #365
@Murmele I think this is the relevant part:
[code]

[2022-11-15 13:11] OdinVex commented on #315
Just click the + icon, bottom left, after adding any account you like..I have multiple, though I use Gitea and GitHub and GitLab.

[2022-11-15 15:29] Murmele commented on #362
Just execute `flatpak run com.github.Murmele.Gittyup`

[2022-11-16 10:08] Murmele commented on #362
Hi @lonix1 can you share the complete log not only the ASSERT? The problem is from there we are not able to find out in which line of our code it happens

[2022-11-16 11:22] Murmele commented on #362
able to reproduce with
Gittyup v1.2.0 - Sonntag, 30. Oktober 2022 - 1bc0ffc

[2022-11-16 12:01] Murmele commented on #365
somewhere the collapse counter is not set correctly

[2022-11-16 12:09] Murmele commented on #365
Can you try to reproduce the error on a test repository. It has to do something with the filestructure. So the content is not relevant.

[2022-11-16 21:48] Pictor13 commented on #324
Thank you for the answer.
I've found out that the need for **"copying git or files info"** appears in other parts of the app as well.

E.g. I'm trying to copy a (long) path to a file listed in *"Double Tree View"*, for avoiding typing it manually in the shell, but that's also not a selectable text-label.

Pardon my jargon as I'm not practical with C++ or the rendering framework that is used by the

[2022-11-16 22:30] asmwarrior commented on #354
Hi, thanks for the reply.

Can you tell me which address will Gittyup access for checking new release?

In my original post, I have checked the IP address, it is the my git repo's remote server address, which I think is not the Gittyup's official update site.

[2022-11-17 06:38] Murmele commented on #354
It is this page: https://raw.githubusercontent.com/Murmele/Gittyup/gh-pages/changelog.md

[2022-11-17 10:23] Murmele opened #367 "Multiple refreshes when discarding multiple files at once"
![image](https://user-images.githubusercontent.com/10099533/202421321-5937d884-1b75-4098-9d1a-514b706a695b.png)

2 refreshes are called

[2022-11-17 10:27] Murmele commented on #367
Gittyup v1.1.1 - Donnerstag, 17. November 2022 - aea75e68

[2022-11-17 15:27] #335 closed

[2022-11-17 15:28] Murmele commented on #356
Once this is fixed I will create the new release version

[2022-11-17 21:19] bonswouar commented on #221
Would love to see this feature implemented!

@Akselmo since it's been 13 days your might have your answer already
But just in case, according to the tests in libgit2 this `commit_content` is basically the whole commit content, like :
[code]
See https://github.com/libgit2/libgit2/blob/ac0f2245510f6c75db1b1e7af7ca01c15dec26bc/tests/libgit2/commit/write.c#L349

[2022-11-17 21:23] Akselmo commented on #221
Thanks! I have not been working on this much due to being busy with Life:tm:, but I'll see if I can get some work done on this this weekend :)

[2022-11-17 22:00] 0verEngineer commented on #365
I do not remember the exact context how it happened, i will setup a test repository with steps to reproduce the problem the next time i stumble over it.

[2022-11-18 07:47] #92 closed

[2022-11-18 14:33] Murmele commented on #365
Great thank you. Because I am not able to reproduce it

[2022-11-19 12:04] 0verEngineer opened #370 "[Feature Request] Full url parsing in logs"
If a new branch is pushed to Github/Gitlab we will get a URL from the server to create a new pull/merge request.

1. There is no way to only select and copy the URL, we can only right click and copy the whole line.
2. The URL is not clickable

I tried to implement this a while ago but i struggled with the log stuff and had not enough time, so tips on how to archive this would help me to implement

[2022-11-19 23:09] Akselmo commented on #221
Hm, I don't know where to place the `git_commit_create_with_signature`  just to test it works at all.

I've tried to place it in `Repository.cpp` around line 629, but I'm not sure if this is the right place.

Can anyone give me a proper walkthrough what happens when user presses the commit button? I can't get debugger working with this either, GDB just crashes.

[2022-11-20 02:25] bonswouar commented on #221
@Akselmo I didn't dig much into the code but it seems you're on the right track, not sure if you've got access to everything for reconstructing the raw commit data from here though, you might need to create a new method with other parameters.

Unfortunately I haven't done any cpp for years and I don't know this project at all so I won't be able to help you much more :/

[2022-11-20 07:40] exactly-one-kas commented on #221
@Akselmo `Repository::commit()` would be the right place, you can create another parameter that hands in the signature or the private key

[2022-11-20 14:57] exactly-one-kas opened #372 "Option for allowing self-signed certificates"
From #371

Add a list of allowed fingerprints and hostnames
Add a button to add a self-signed certificate to that list from the error dialog(s)
Disallow expired certificates and hostname mismatches, even if the fingerprint is in the exception list

[2022-11-21 03:38] mhmzx opened #373 "Overflow in information displayed when cloning large repositories"
Although this is not a big problem, when the cloned repositories is too large, the current progress displayed in real time in the log will overflow, like this:

[code]

[2022-11-21 05:04] mhmzx commented on #373
Sorry, it seems like that it is a bug of git, I close this issue.

[2022-11-21 05:59] exactly-one-kas commented on #373
No, you've been right - this is a problem with Gittyup: We're currently building that message ouself (it's just meant to resemble the standard GIT's messages)

[2022-11-21 09:07] #373 closed

[2022-11-21 09:44] Murmele commented on #365
Can you do the test from startup and filter out all those messages:

Expanded: Name: *
Collapsed: Name: *
Name:*Current Collapsed: *

from this we might be able to reproduce the issue

[2022-11-21 09:50] Murmele commented on #365
Can you apply this patch (I had to zip it to upload) to the current master and provide the logs from above?

[0001-add-debug-message-for-merge-conflicts.zip](https://github.com/Murmele/Gittyup/files/10055314/0001-add-debug-message-for-merge-conflicts.zip)

[2022-11-21 09:59] Murmele commented on #365
Is everything collapsed at the beginning of the merge?

[2022-11-21 10:23] Murmele commented on #365
@0verEngineer Can you take a screenshot of the treeview, you can blur/remove the content. I just would like to see the folder structure before the merge will be done.
If you are debugging. You can share also a screenshot how it looks during the merge when you solve the merge conflict

[2022-11-21 10:39] #351 closed

[2022-11-21 18:41] Murmele opened #376 "Logging into files"
Currently on windows it is not possible to see the debug logs. The idea is to replace qDebug() and storing the debug data into files instead of output to stdout.
Adding an option to the Debug menu wether the data should be logged into a file or shown on the stdout

[2022-11-21 19:17] 0verEngineer commented on #365
Log from the test with your branch:
[code]

Screenshots:
After the start of the merge (everything is collapsed):
![after_start](https://user-images.githubusercontent.com/105462605/203140374-e2507bb9-4b9d-48f9-acff-2c1b53145c0a.png)

Then i click `Expand All` and it looks like this:
![after_expand_all](https://user-images.githubusercontent.com/105462605/203140504-6ecddd93-c597-4ba3-a1fd-4f7da835e87

[2022-11-21 20:34] Murmele commented on #376
![image](https://user-images.githubusercontent.com/10099533/203153139-dcfc8c44-9395-45d4-b2ad-633dd53fcdd0.png)

[2022-11-21 20:39] exactly-one-kas commented on #376
I'd advise to leave `qDebug()` in and use ` qInstallMessageHandler()` to write the messages into the file

[2022-11-22 17:29] Murmele commented on #365
I am able to reproduce:
[CrashMerge.zip](https://github.com/Murmele/Gittyup/files/10069669/CrashMerge.zip)

Steps to reproduce:
1) Open attached repository
2) Merge `otherBranch` into master
3) Click `Expand all` for unstaged Files
![image](https://user-images.githubusercontent.com/10099533/203381621-b24b1a1d-63e1-4a09-aa86-cdc661da3c28.png)

4) Select File_security_config
5) Click `Use Ours`
6) C

[2022-11-22 18:37] Murmele commented on #365
thanks @0verEngineer I found the issue and fixed in my branch

[2022-11-24 17:55] kulica opened #378 "Git Repo settings are not saved on Flatpack kubuntu"
On every program run there are no git repos anymore.

[2022-11-26 00:48] leopthurler commented on #360
Hello,

You have an ETA to fix this problem?

[2022-11-26 09:07] exactly-one-kas commented on #360
This will most likely be fixed with #153 since proper support for `core.longpaths` has been added "recently" in 2021 via libgit2/libgit2#5857

[2022-11-26 12:36] #332 closed

[2022-11-27 20:12] k0nk opened #379 "Add possibility to choose the time including the seconds in amend commit dialog"
Can you add the possibility to choose the time including the seconds?